<div    id="prov-starting-point-owl-classes-crossreference"
     class="prov-starting-point owl-classes crossreference">

  <div id="Activity" class="entity">
    <h3>
      Class: <a href="#Activity"><span class="dotted" title="http://www.w3.org/ns/prov#Activity">prov:Activity</span></a>
      <span class="backlink">
         back to <a href="#prov-starting-point-owl-classes-at-a-glance">starting-point classes</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#Activity</p>
    <div class="definition"><p>An activity is something that occurs over a period of time and acts upon or with entities. This action can take multiple forms: consuming, processing, transforming, modifying, relocating, using, generating, or being associated with entities. Activities that operate on digital entities may for example move, copy, or duplicate them.</p>
    </div>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_Activity.ttl"%}{% endescape %}</pre>
    </div>

    <dl class="description">
    <div class="comment"><p>An activity is something that occurs over a period of time and acts upon or with entities. This action can take multiple forms: consuming, processing, transforming, modifying, relocating, using, generating, or being associated with entities. Activities that operate on digital entities may for example move, copy, or duplicate them.</p>
    </div>

      <dt>in domain of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#wasStartedByActivity" href="#wasStartedByActivity">prov:wasStartedByActivity</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#qualifiedStart" href="#qualifiedStart">prov:qualifiedStart</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#qualifiedEnd" href="#qualifiedEnd">prov:qualifiedEnd</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#startedAtTime" href="#startedAtTime">prov:startedAtTime</a><sup class="type-dp" title="data property">dp</sup>
        <a title="http://www.w3.org/ns/prov#wasEndedBy" href="#wasEndedBy">prov:wasEndedBy</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#generated" href="#generated">prov:generated</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#wasStartedBy" href="#wasStartedBy">prov:wasStartedBy</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#qualifiedStartByActivity" href="#qualifiedStartByActivity">prov:qualifiedStartByActivity</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#qualifiedAssociation" href="#qualifiedAssociation">prov:qualifiedAssociation</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#wasAssociatedWith" href="#wasAssociatedWith">prov:wasAssociatedWith</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#endedAtTime" href="#endedAtTime">prov:endedAtTime</a><sup class="type-dp" title="data property">dp</sup>
        <a title="http://www.w3.org/ns/prov#wasInformedBy" href="#wasInformedBy">prov:wasInformedBy</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#qualifiedCommunication" href="#qualifiedCommunication">prov:qualifiedCommunication</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#qualifiedUsage" href="#qualifiedUsage">prov:qualifiedUsage</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#used" href="#used">prov:used</a><sup class="type-op" title="object property">op</sup>
      </dd>

      <dt>in range of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#wasStartedByActivity" href="#wasStartedByActivity">prov:wasStartedByActivity</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#activity" href="#activity">prov:activity</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#wasInformedBy" href="#wasInformedBy">prov:wasInformedBy</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#wasInvalidatedBy" href="#wasInvalidatedBy">prov:wasInvalidatedBy</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#hadActivity" href="#hadActivity">prov:hadActivity</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#wasGeneratedBy" href="#wasGeneratedBy">prov:wasGeneratedBy</a><sup class="type-op" title="object property">op</sup>
      </dd>
    </dl>
  </div>

  <div id="Agent" class="entity">
    <h3>
      Class: <a href="#Agent"><span class="dotted" title="http://www.w3.org/ns/prov#Agent">prov:Agent</span></a>
      <span class="backlink">
         back to <a href="#prov-starting-point-owl-classes-at-a-glance">starting-point classes</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#Agent</p>
    <div class="definition"><p>An agent is a type of entity that bears some form of responsibility for an activity taking place.</p>
    </div>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_Agent.ttl"%}{% endescape %}</pre>
    </div>

    <dl class="description">
    <div class="comment"><p>An agent is a type of entity that bears some form of responsibility for an activity taking place.</p>
    </div>

      <dt>in domain of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#actedOnBehalfOf" href="#actedOnBehalfOf">prov:actedOnBehalfOf</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#qualifiedResponsibility" href="#qualifiedResponsibility">prov:qualifiedResponsibility</a><sup class="type-op" title="object property">op</sup>
      </dd>

      <dt>in range of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#actedOnBehalfOf" href="#actedOnBehalfOf">prov:actedOnBehalfOf</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#hadQuoter" href="#hadQuoter">prov:hadQuoter</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#agent" href="#agent">prov:agent</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#wasAssociatedWith" href="#wasAssociatedWith">prov:wasAssociatedWith</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#wasAttributedTo" href="#wasAttributedTo">prov:wasAttributedTo</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#hadQuoted" href="#hadQuoted">prov:hadQuoted</a><sup class="type-op" title="object property">op</sup>
      </dd>

      <dt>has subclasses</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#Organization" href="#Organization" class="owlclass">prov:Organization</a>
        <a title="http://www.w3.org/ns/prov#Person" href="#Person" class="owlclass">prov:Person</a>
        <a title="http://www.w3.org/ns/prov#SoftwareAgent" href="#SoftwareAgent" class="owlclass">prov:SoftwareAgent</a>
      </dd>
    </dl>
  </div>

  <div id="Entity" class="entity">
    <h3>
      Class: <a href="#Entity"><span class="dotted" title="http://www.w3.org/ns/prov#Entity">prov:Entity</span></a>
      <span class="backlink">
         back to <a href="#prov-starting-point-owl-classes-at-a-glance">starting-point classes</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#Entity</p>
    <div class="definition"><p>An entity is a thing one wants to provide provenance for. For the purpose of this specification, things can be physical, digital, conceptual, or otherwise; things may be real or imaginary.</p>
    </div>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_Entity.ttl"%}{% endescape %}</pre>
    </div>

    <dl class="description">
    <div class="comment"><p>An entity is a thing one wants to provide provenance for. For the purpose of this specification, things can be physical, digital, conceptual, or otherwise; things may be real or imaginary.</p>
    </div>

      <dt>in domain of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#qualifiedQuotation" href="#qualifiedQuotation">prov:qualifiedQuotation</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#qualifiedGeneration" href="#qualifiedGeneration">prov:qualifiedGeneration</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#qualifiedSource" href="#qualifiedSource">prov:qualifiedSource</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#wasInvalidatedBy" href="#wasInvalidatedBy">prov:wasInvalidatedBy</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#qualifiedAttribution" href="#qualifiedAttribution">prov:qualifiedAttribution</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#wasQuotedFrom" href="#wasQuotedFrom">prov:wasQuotedFrom</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#wasGeneratedBy" href="#wasGeneratedBy">prov:wasGeneratedBy</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#hadOriginalSource" href="#hadOriginalSource">prov:hadOriginalSource</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#alternateOf" href="#alternateOf">prov:alternateOf</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#wasRevisionOf" href="#wasRevisionOf">prov:wasRevisionOf</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#invalidatedAtTime" href="#invalidatedAtTime">prov:invalidatedAtTime</a><sup class="type-dp" title="data property">dp</sup>
        <a title="http://www.w3.org/ns/prov#tracedTo" href="#tracedTo">prov:tracedTo</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#qualifiedTrace" href="#qualifiedTrace">prov:qualifiedTrace</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#qualifiedRevision" href="#qualifiedRevision">prov:qualifiedRevision</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#wasAttributedTo" href="#wasAttributedTo">prov:wasAttributedTo</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#wasDerivedFrom" href="#wasDerivedFrom">prov:wasDerivedFrom</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#specializationOf" href="#specializationOf">prov:specializationOf</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#qualifiedDerivation" href="#qualifiedDerivation">prov:qualifiedDerivation</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#generatedAtTime" href="#generatedAtTime">prov:generatedAtTime</a><sup class="type-dp" title="data property">dp</sup>
      </dd>

      <dt>in range of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#alternateOf" href="#alternateOf">prov:alternateOf</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#value" href="#value">prov:value</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#wasStartedBy" href="#wasStartedBy">prov:wasStartedBy</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#wasQuotedFrom" href="#wasQuotedFrom">prov:wasQuotedFrom</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#hadOriginalSource" href="#hadOriginalSource">prov:hadOriginalSource</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#generated" href="#generated">prov:generated</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#wasRevisionOf" href="#wasRevisionOf">prov:wasRevisionOf</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#tracedTo" href="#tracedTo">prov:tracedTo</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#wasEndedBy" href="#wasEndedBy">prov:wasEndedBy</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#wasDerivedFrom" href="#wasDerivedFrom">prov:wasDerivedFrom</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#entity" href="#entity">prov:entity</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#specializationOf" href="#specializationOf">prov:specializationOf</a><sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#used" href="#used">prov:used</a><sup class="type-op" title="object property">op</sup>
      </dd>

      <dt>has subclasses</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#Dictionary" href="#Dictionary" class="owlclass">prov:Dictionary</a>
        <a title="http://www.w3.org/ns/prov#Account" href="#Account" class="owlclass">prov:Account</a>
        <a title="http://www.w3.org/ns/prov#Plan" href="#Plan" class="owlclass">prov:Plan</a>
      </dd>
    </dl>
  </div>
</div>
<div    id="prov-starting-point-owl-properties-crossreference"
     class="prov-starting-point owl-properties crossreference">
  <div id="actedOnBehalfOf" class="entity">
    <h3>
      Property: <a href="#actedOnBehalfOf"><span class="dotted" title="http://www.w3.org/ns/prov#actedOnBehalfOf">prov:actedOnBehalfOf</span></a><sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-starting-point-owl-properties-at-a-glance">starting-point properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#actedOnBehalfOf</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_actedOnBehalfOf.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>An object property to express the accountability of an agent towards another agent. The subordinate agent acted on behalf of the responsible agent in an actual activity. </p>
      </div>
      <dl>

        <dt>has super-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#involved" href="#involved" class="owlclass">prov:involved</a>
            </li>
          </ul>
        </dd>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Agent" href="#Agent" class="owlclass">prov:Agent</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Agent" href="#Agent" class="owlclass">prov:Agent</a>
            </li>
          </ul>
        </dd>

        <dt>can be qualified with</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Responsibility" href="#Responsibility" class="owlclass">prov:Responsibility</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#qualifiedResponsibility" href="#qualifiedResponsibility" class="owlproperty">prov:qualifiedResponsibility</a>
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

  <div id="endedAtTime" class="entity">
    <h3>
      Property: <a href="#endedAtTime"><span class="dotted" title="http://www.w3.org/ns/prov#endedAtTime">prov:endedAtTime</span></a><sup class="type-dp" title="data property">dp</sup>
      <span class="backlink">
         back to <a href="#prov-starting-point-owl-properties-at-a-glance">starting-point properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#endedAtTime</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_endedAtTime.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>The time when an activity ended.</p>
      </div>
      <p><strong>has characteristics</strong>  Functional       </p>
      <dl>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Activity" href="#Activity" class="owlclass">prov:Activity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              http://www.w3.org/2001/XMLSchema#dateTime
            </li>
          </ul>
        </dd>

        <dt>can be qualified with</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#End" href="#End" class="owlclass">prov:End</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#atTime" href="#atTime" class="owlproperty">prov:atTime</a>
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

  <div id="generatedAtTime" class="entity">
    <h3>
      Property: <a href="#generatedAtTime"><span class="dotted" title="http://www.w3.org/ns/prov#generatedAtTime">prov:generatedAtTime</span></a><sup class="type-dp" title="data property">dp</sup>
      <span class="backlink">
         back to <a href="#prov-starting-point-owl-properties-at-a-glance">starting-point properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#generatedAtTime</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_generatedAtTime.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>The time at which an entity was completely created.</p>
      </div>
      <dl>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              http://www.w3.org/2001/XMLSchema#dateTime
            </li>
          </ul>
        </dd>

        <dt>can be qualified with</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Generation" href="#Generation" class="owlclass">prov:Generation</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#atTime" href="#atTime" class="owlproperty">prov:atTime</a>
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

  <div id="invalidatedAtTime" class="entity">
    <h3>
      Property: <a href="#invalidatedAtTime"><span class="dotted" title="http://www.w3.org/ns/prov#invalidatedAtTime">prov:invalidatedAtTime</span></a><sup class="type-dp" title="data property">dp</sup>
      <span class="backlink">
         back to <a href="#prov-starting-point-owl-properties-at-a-glance">starting-point properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#invalidatedAtTime</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_invalidatedAtTime.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>The time at which the entity began to be invalidated.</p>
      </div>
      <dl>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              http://www.w3.org/2001/XMLSchema#dateTime
            </li>
          </ul>
        </dd>

        <dt>can be qualified with</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Invalidation" href="#Invalidation" class="owlclass">prov:Invalidation</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#atTime" href="#atTime" class="owlproperty">prov:atTime</a>
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

  <div id="startedAtTime" class="entity">
    <h3>
      Property: <a href="#startedAtTime"><span class="dotted" title="http://www.w3.org/ns/prov#startedAtTime">prov:startedAtTime</span></a><sup class="type-dp" title="data property">dp</sup>
      <span class="backlink">
         back to <a href="#prov-starting-point-owl-properties-at-a-glance">starting-point properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#startedAtTime</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_startedAtTime.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>The time when an activity started.</p>
      </div>
      <p><strong>has characteristics</strong>  Functional       </p>
      <dl>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Activity" href="#Activity" class="owlclass">prov:Activity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              http://www.w3.org/2001/XMLSchema#dateTime
            </li>
          </ul>
        </dd>

        <dt>can be qualified with</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Start" href="#Start" class="owlclass">prov:Start</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#atTime" href="#atTime" class="owlproperty">prov:atTime</a>
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

  <div id="used" class="entity">
    <h3>
      Property: <a href="#used"><span class="dotted" title="http://www.w3.org/ns/prov#used">prov:used</span></a><sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-starting-point-owl-properties-at-a-glance">starting-point properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#used</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_used.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>A prov:Entity that was used by this prov:Activity. For example, :baking prov:used :spoon, :egg, :oven .</p>
      </div>
      <p><strong>has characteristics</strong> Asymmetric , Irreflexive       </p>
      <dl>

        <dt>has super-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#involved" href="#involved" class="owlclass">prov:involved</a>
            </li>
          </ul>
        </dd>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Activity" href="#Activity" class="owlclass">prov:Activity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>can be qualified with</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Usage" href="#Usage" class="owlclass">prov:Usage</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#qualifiedUsage" href="#qualifiedUsage" class="owlproperty">prov:qualifiedUsage</a>
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

  <div id="wasAssociatedWith" class="entity">
    <h3>
      Property: <a href="#wasAssociatedWith"><span class="dotted" title="http://www.w3.org/ns/prov#wasAssociatedWith">prov:wasAssociatedWith</span></a><sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-starting-point-owl-properties-at-a-glance">starting-point properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#wasAssociatedWith</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_wasAssociatedWith.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>An prov:Agent that had some (unspecified) responsibility for the occurrence of this prov:Activity.</p>
      </div>
      <dl>

        <dt>has super-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#involved" href="#involved" class="owlclass">prov:involved</a>
            </li>
          </ul>
        </dd>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Activity" href="#Activity" class="owlclass">prov:Activity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Agent" href="#Agent" class="owlclass">prov:Agent</a>
            </li>
          </ul>
        </dd>

        <dt>can be qualified with</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Association" href="#Association" class="owlclass">prov:Association</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#qualifiedAssociation" href="#qualifiedAssociation" class="owlproperty">prov:qualifiedAssociation</a>
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

  <div id="wasAttributedTo" class="entity">
    <h3>
      Property: <a href="#wasAttributedTo"><span class="dotted" title="http://www.w3.org/ns/prov#wasAttributedTo">prov:wasAttributedTo</span></a><sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-starting-point-owl-properties-at-a-glance">starting-point properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#wasAttributedTo</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_wasAttributedTo.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>Attribution is the ascribing of an entity to an agent.</p>
      </div>
      <dl>

        <dt>has super-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#tracedTo" href="#tracedTo" class="owlclass">prov:tracedTo</a>
            </li>
          </ul>
        </dd>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Agent" href="#Agent" class="owlclass">prov:Agent</a>
            </li>
          </ul>
        </dd>

        <dt>can be qualified with</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#qualifiedAttribution" href="#qualifiedAttribution" class="owlproperty">prov:qualifiedAttribution</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#Attribution" href="#Attribution" class="owlclass">prov:Attribution</a>
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

  <div id="wasDerivedFrom" class="entity">
    <h3>
      Property: <a href="#wasDerivedFrom"><span class="dotted" title="http://www.w3.org/ns/prov#wasDerivedFrom">prov:wasDerivedFrom</span></a><sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-starting-point-owl-properties-at-a-glance">starting-point properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#wasDerivedFrom</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_wasDerivedFrom.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>A derivation is a transformation of an entity into another, a construction of an entity into another, or an update of an entity, resulting in a new one.</p>
      </div>
      <p><strong>has characteristics</strong> Asymmetric , Irreflexive       </p>
      <dl>

        <dt>has super-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#tracedTo" href="#tracedTo" class="owlclass">prov:tracedTo</a>
            </li>
          </ul>
        </dd>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>has sub-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#derivedByInsertionFrom" href="#derivedByInsertionFrom" class="owlclass">prov:derivedByInsertionFrom</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#wasQuotedFrom" href="#wasQuotedFrom" class="owlclass">prov:wasQuotedFrom</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#hadOriginalSource" href="#hadOriginalSource" class="owlclass">prov:hadOriginalSource</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#wasRevisionOf" href="#wasRevisionOf" class="owlclass">prov:wasRevisionOf</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#derivedByRemovalFrom" href="#derivedByRemovalFrom" class="owlclass">prov:derivedByRemovalFrom</a>
            </li>
          </ul>
        </dd>

        <dt>can be qualified with</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Derivation" href="#Derivation" class="owlclass">prov:Derivation</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#qualifiedDerivation" href="#qualifiedDerivation" class="owlproperty">prov:qualifiedDerivation</a>
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

  <div id="wasGeneratedBy" class="entity">
    <h3>
      Property: <a href="#wasGeneratedBy"><span class="dotted" title="http://www.w3.org/ns/prov#wasGeneratedBy">prov:wasGeneratedBy</span></a><sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-starting-point-owl-properties-at-a-glance">starting-point properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#wasGeneratedBy</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_wasGeneratedBy.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>wasGeneratedBy links Entitites with Activity representing that entity was generated as a result of Activity</p>
      </div>
      <p><strong>has characteristics</strong>  Functional , Asymmetric , Irreflexive       </p>
      <dl>

        <dt>has super-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#involved" href="#involved" class="owlclass">prov:involved</a>
            </li>
          </ul>
        </dd>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Activity" href="#Activity" class="owlclass">prov:Activity</a>
            </li>
          </ul>
        </dd>

        <dt>can be qualified with</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Generation" href="#Generation" class="owlclass">prov:Generation</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#qualifiedGeneration" href="#qualifiedGeneration" class="owlproperty">prov:qualifiedGeneration</a>
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

  <div id="wasInformedBy" class="entity">
    <h3>
      Property: <a href="#wasInformedBy"><span class="dotted" title="http://www.w3.org/ns/prov#wasInformedBy">prov:wasInformedBy</span></a><sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-starting-point-owl-properties-at-a-glance">starting-point properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#wasInformedBy</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_wasInformedBy.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>An activity a2 is dependent on or informed by another activity a1, by way of some unspecified entity that is generated by a1 and used by a2.</p>
      </div>
      <dl>

        <dt>has super-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#involved" href="#involved" class="owlclass">prov:involved</a>
            </li>
          </ul>
        </dd>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Activity" href="#Activity" class="owlclass">prov:Activity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Activity" href="#Activity" class="owlclass">prov:Activity</a>
            </li>
          </ul>
        </dd>

        <dt>can be qualified with</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Communication" href="#Communication" class="owlclass">prov:Communication</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#qualifiedCommunication" href="#qualifiedCommunication" class="owlproperty">prov:qualifiedCommunication</a>
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

  <div id="wasStartedByActivity" class="entity">
    <h3>
      Property: <a href="#wasStartedByActivity"><span class="dotted" title="http://www.w3.org/ns/prov#wasStartedByActivity">prov:wasStartedByActivity</span></a><sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-starting-point-owl-properties-at-a-glance">starting-point properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#wasStartedByActivity</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_wasStartedByActivity.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>The start of an activity with an implicit trigger generated by another activity.</p>
      </div>
      <dl>

        <dt>has super-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#involved" href="#involved" class="owlclass">prov:involved</a>
            </li>
          </ul>
        </dd>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Activity" href="#Activity" class="owlclass">prov:Activity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Activity" href="#Activity" class="owlclass">prov:Activity</a>
            </li>
          </ul>
        </dd>

        <dt>can be qualified with</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#qualifiedStartByActivity" href="#qualifiedStartByActivity" class="owlproperty">prov:qualifiedStartByActivity</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#StartByActivity" href="#StartByActivity" class="owlclass">prov:StartByActivity</a>
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

</div>
