<div
     class="prov-expanded owl-classes crossreference"
     xmlns:dcterms="http://purl.org/dc/terms/"
     xmlns:prov="http://www.w3.org/ns/prov#">

  <div id="Bundle" class="entity">
    <h3>
      Class: <a href="#Bundle"><span class="dotted" title="http://www.w3.org/ns/prov#Bundle">prov:Bundle</span></a>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-terms-at-a-glance">expanded classes</a>
      </span>
    </h3>
    <p><strong class="crossreference">IRI:</strong>http://www.w3.org/ns/prov#Bundle</p>
    <div class="definition"><p>A bundle is a named set of provenance descriptions, and is itself an Entity, so allowing provenance of provenance to be expressed.</p>
    </div>

    <div about="#example-for-class-Bundle" typeof="prov:Entity" class="example">
      <span rel="dcterms:subject" resource="http://www.w3.org/ns/prov#Bundle"></span>
      <strong class="crossreference">Example</strong>
      <pre rel="prov:wasQuotedFrom" resource="http://dvcs.w3.org/hg/prov/raw-file/tip/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_Bundle.ttl"
           property="prov:value">{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_Bundle.ttl"%}{% endescape %}</pre>
    </div>

    <dl class="description">
    <dd class="comment"><p>Note that there are kinds of bundles (e.g. handwritten letters, audio recordings, etc.) that are not expressed in PROV-O, but can be still be described by PROV-O.</p>
    </dd>

      <dt>is subclass of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
      </dd>

      <dt>PROV-DM term</dt>
      <dd>
        <a title="prov-dm" href="http://dvcs.w3.org/hg/prov/raw-file/default/model/prov-dm.html#term-bundle-entity">bundle-entity</a>      </dd>
    </dl>
  </div>

  <div id="Collection" class="entity">
    <h3>
      Class: <a href="#Collection"><span class="dotted" title="http://www.w3.org/ns/prov#Collection">prov:Collection</span></a>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-terms-at-a-glance">expanded classes</a>
      </span>
    </h3>
    <p><strong class="crossreference">IRI:</strong>http://www.w3.org/ns/prov#Collection</p>
    <div class="definition"><p>A collection is an entity that provides a structure to some constituents, which are themselves entities. These constituents are said to be member of the collections.</p>
    </div>

    <div about="#example-for-class-Collection" typeof="prov:Entity" class="example">
      <span rel="dcterms:subject" resource="http://www.w3.org/ns/prov#Collection"></span>
      <strong class="crossreference">Example</strong>
      <pre rel="prov:wasQuotedFrom" resource="http://dvcs.w3.org/hg/prov/raw-file/tip/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_Collection.ttl"
           property="prov:value">{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_Collection.ttl"%}{% endescape %}</pre>
    </div>

    <dl class="description">

      <dt>is subclass of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
      </dd>
      <dt>described with properties:</dt><dd></dd>

      <dt></dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#hadMember" href="#hadMember">prov:hadMember</a> <sup class="type-op" title="object property">op</sup>
      </dd>

      <dt>has subclass</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#EmptyCollection" href="#EmptyCollection" class="owlclass">prov:EmptyCollection</a>
      </dd>

      <dt>PROV-DM term</dt>
      <dd>
        <a title="prov-dm" href="http://dvcs.w3.org/hg/prov/raw-file/default/model/prov-dm.html#term-collection">collection</a>      </dd>
    </dl>
  </div>

  <div id="EmptyCollection" class="entity">
    <h3>
      Class: <a href="#EmptyCollection"><span class="dotted" title="http://www.w3.org/ns/prov#EmptyCollection">prov:EmptyCollection</span></a>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-terms-at-a-glance">expanded classes</a>
      </span>
    </h3>
    <p><strong class="crossreference">IRI:</strong>http://www.w3.org/ns/prov#EmptyCollection</p>
    <div class="definition"><p>An empty collection is a collection without members.</p>
    </div>

    <div about="#example-for-class-EmptyCollection" typeof="prov:Entity" class="example">
      <span rel="dcterms:subject" resource="http://www.w3.org/ns/prov#EmptyCollection"></span>
      <strong class="crossreference">Example</strong>
      <pre rel="prov:wasQuotedFrom" resource="http://dvcs.w3.org/hg/prov/raw-file/tip/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_EmptyCollection.ttl"
           property="prov:value">{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_EmptyCollection.ttl"%}{% endescape %}</pre>
    </div>

    <dl class="description">

      <dt>is subclass of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#Collection" href="#Collection" class="owlclass">prov:Collection</a>
      </dd>
      <dt>described with properties:</dt><dd></dd>

      <dt></dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#hadMember" href="#hadMember">prov:hadMember</a>  <sup class="type-op" title="object property">op</sup>      </dd>
    </dl>
  </div>

  <div id="Location" class="entity">
    <h3>
      Class: <a href="#Location"><span class="dotted" title="http://www.w3.org/ns/prov#Location">prov:Location</span></a>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-terms-at-a-glance">expanded classes</a>
      </span>
    </h3>
    <p><strong class="crossreference">IRI:</strong>http://www.w3.org/ns/prov#Location</p>
    <div class="definition"><p>A location can be an identifiable geographic place (ISO 19112), but it can also be a non-geographic place such as a directory, row, or column. As such, there are numerous ways in which location can be expressed, such as by a coordinate, address, landmark, and so forth.</p>
    </div>

    <div about="#example-for-class-Location" typeof="prov:Entity" class="example">
      <span rel="dcterms:subject" resource="http://www.w3.org/ns/prov#Location"></span>
      <strong class="crossreference">Example</strong>
      <pre rel="prov:wasQuotedFrom" resource="http://dvcs.w3.org/hg/prov/raw-file/tip/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_Location.ttl"
           property="prov:value">{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_Location.ttl"%}{% endescape %}</pre>
    </div>

    <dl class="description">

      <dt>in range of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#atLocation" href="#atLocation">prov:atLocation</a> <sup class="type-op" title="object property">op</sup>
      </dd>

      <dt>PROV-DM term</dt>
      <dd>
        <a title="prov-dm" href="http://dvcs.w3.org/hg/prov/raw-file/default/model/prov-dm.html#term-attribute-location">attribute-location</a>      </dd>
    </dl>
  </div>

  <div id="Organization" class="entity">
    <h3>
      Class: <a href="#Organization"><span class="dotted" title="http://www.w3.org/ns/prov#Organization">prov:Organization</span></a>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-terms-at-a-glance">expanded classes</a>
      </span>
    </h3>
    <p><strong class="crossreference">IRI:</strong>http://www.w3.org/ns/prov#Organization</p>
    <div class="definition"><p>Agents of type Organization are social institutions such as companies, societies etc.</p>
    </div>

    <div about="#example-for-class-Organization" typeof="prov:Entity" class="example">
      <span rel="dcterms:subject" resource="http://www.w3.org/ns/prov#Organization"></span>
      <strong class="crossreference">Example</strong>
      <pre rel="prov:wasQuotedFrom" resource="http://dvcs.w3.org/hg/prov/raw-file/tip/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_Organization.ttl"
           property="prov:value">{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_Organization.ttl"%}{% endescape %}</pre>
    </div>

    <dl class="description">

      <dt>is subclass of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#Agent" href="#Agent" class="owlclass">prov:Agent</a>
      </dd>
      <dt>described with properties:</dt><dd></dd>

      <dt></dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#qualifiedDelegation" href="#qualifiedDelegation">prov:qualifiedDelegation</a>  <sup class="type-op" title="object property">op</sup>        , <a title="http://www.w3.org/ns/prov#actedOnBehalfOf" href="#actedOnBehalfOf">prov:actedOnBehalfOf</a>  <sup class="type-op" title="object property">op</sup>      </dd>

      <dt>PROV-DM term</dt>
      <dd>
        <a title="prov-dm" href="http://dvcs.w3.org/hg/prov/raw-file/default/model/prov-dm.html#term-agent">agent</a>      </dd>
    </dl>
  </div>

  <div id="Person" class="entity">
    <h3>
      Class: <a href="#Person"><span class="dotted" title="http://www.w3.org/ns/prov#Person">prov:Person</span></a>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-terms-at-a-glance">expanded classes</a>
      </span>
    </h3>
    <p><strong class="crossreference">IRI:</strong>http://www.w3.org/ns/prov#Person</p>
    <div class="definition"><p>Agents of type Person are people.</p>
    </div>

    <div about="#example-for-class-Person" typeof="prov:Entity" class="example">
      <span rel="dcterms:subject" resource="http://www.w3.org/ns/prov#Person"></span>
      <strong class="crossreference">Example</strong>
      <pre rel="prov:wasQuotedFrom" resource="http://dvcs.w3.org/hg/prov/raw-file/tip/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_Person.ttl"
           property="prov:value">{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_Person.ttl"%}{% endescape %}</pre>
    </div>

    <dl class="description">

      <dt>is subclass of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#Agent" href="#Agent" class="owlclass">prov:Agent</a>
      </dd>
      <dt>described with properties:</dt><dd></dd>

      <dt></dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#qualifiedDelegation" href="#qualifiedDelegation">prov:qualifiedDelegation</a>  <sup class="type-op" title="object property">op</sup>        , <a title="http://www.w3.org/ns/prov#actedOnBehalfOf" href="#actedOnBehalfOf">prov:actedOnBehalfOf</a>  <sup class="type-op" title="object property">op</sup>      </dd>

      <dt>PROV-DM term</dt>
      <dd>
        <a title="prov-dm" href="http://dvcs.w3.org/hg/prov/raw-file/default/model/prov-dm.html#term-agent">agent</a>      </dd>
    </dl>
  </div>

  <div id="SoftwareAgent" class="entity">
    <h3>
      Class: <a href="#SoftwareAgent"><span class="dotted" title="http://www.w3.org/ns/prov#SoftwareAgent">prov:SoftwareAgent</span></a>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-terms-at-a-glance">expanded classes</a>
      </span>
    </h3>
    <p><strong class="crossreference">IRI:</strong>http://www.w3.org/ns/prov#SoftwareAgent</p>
    <div class="definition"><p>A software agent is running software.</p>
    </div>

    <div about="#example-for-class-SoftwareAgent" typeof="prov:Entity" class="example">
      <span rel="dcterms:subject" resource="http://www.w3.org/ns/prov#SoftwareAgent"></span>
      <strong class="crossreference">Example</strong>
      <pre rel="prov:wasQuotedFrom" resource="http://dvcs.w3.org/hg/prov/raw-file/tip/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_SoftwareAgent.ttl"
           property="prov:value">{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_SoftwareAgent.ttl"%}{% endescape %}</pre>
    </div>

    <dl class="description">

      <dt>is subclass of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#Agent" href="#Agent" class="owlclass">prov:Agent</a>
      </dd>
      <dt>described with properties:</dt><dd></dd>

      <dt></dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#qualifiedDelegation" href="#qualifiedDelegation">prov:qualifiedDelegation</a>  <sup class="type-op" title="object property">op</sup>        , <a title="http://www.w3.org/ns/prov#actedOnBehalfOf" href="#actedOnBehalfOf">prov:actedOnBehalfOf</a>  <sup class="type-op" title="object property">op</sup>      </dd>

      <dt>PROV-DM term</dt>
      <dd>
        <a title="prov-dm" href="http://dvcs.w3.org/hg/prov/raw-file/default/model/prov-dm.html#term-agent">agent</a>      </dd>
    </dl>
  </div>
</div>
<div
     class="prov-expanded owl-properties crossreference"
     xmlns:prov="http://www.w3.org/ns/prov#">
  <div id="alternateOf" class="entity">
    <h3>
      Property: <a href="#alternateOf"><span class="dotted" title="http://www.w3.org/ns/prov#alternateOf">prov:alternateOf</span></a> <sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-terms-at-a-glance">expanded properties</a>
      </span>
    </h3>
    <p><strong class="crossreference">IRI:</strong>http://www.w3.org/ns/prov#alternateOf</p>
    <div class="definition def-from-1"><p>Two alternate entities present aspects of the same thing. These aspects may be the same or different, and the alternate entities may or may not overlap in time.</p>
    </div>

    <div about="#example-for-property-alternateOf" typeof="prov:Entity" class="example">
      <span rel="dcterms:subject" resource="http://www.w3.org/ns/prov#alternateOf"></span>
      <strong class="crossreference">Example</strong>
      <pre rel="prov:wasQuotedFrom" resource="http://dvcs.w3.org/hg/prov/raw-file/tip/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_alternateOf.ttl"
           property="prov:value">{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_alternateOf.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <dl>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>has sub-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#specializationOf" href="#specializationOf" class="owlclass">prov:specializationOf</a>
            </li>
          </ul>
        </dd>

      <dt>PROV-DM term</dt>
      <dd>
         <a title="prov-dm" href="http://dvcs.w3.org/hg/prov/raw-file/default/model/prov-dm.html#term-alternate">alternate</a>      </dd>

      </dl>
    </div>
  </div>

  <div id="atLocation" class="entity">
    <h3>
      Property: <a href="#atLocation"><span class="dotted" title="http://www.w3.org/ns/prov#atLocation">prov:atLocation</span></a> <sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-terms-at-a-glance">expanded properties</a>
      </span>
    </h3>
    <p><strong class="crossreference">IRI:</strong>http://www.w3.org/ns/prov#atLocation</p>
    <div class="definition def-from-2"><p>A location can be an identifiable geographic place (ISO 19112), but it can also be a non-geographic place such as a directory, row, or column. As such, there are numerous ways in which location can be expressed, such as by a coordinate, address, landmark, and so forth.</p>
    </div>

    <div about="#example-for-property-atLocation" typeof="prov:Entity" class="example">
      <span rel="dcterms:subject" resource="http://www.w3.org/ns/prov#atLocation"></span>
      <strong class="crossreference">Example</strong>
      <pre rel="prov:wasQuotedFrom" resource="http://dvcs.w3.org/hg/prov/raw-file/tip/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_atLocation.ttl"
           property="prov:value">{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_atLocation.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment "><p>This property has multiple RDFS domains to suit multiple OWL Profiles. See <a href="#prov-o-owl-profile">PROV-O OWL Profile</a>.</p>
      </div>
      <div class="comment "><p>The Location of any resource.</p>
      </div>
      <dl>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Activity" href="#Activity" class="owlclass">prov:Activity</a>
               or <a title="http://www.w3.org/ns/prov#Agent" href="#Agent" class="owlclass">prov:Agent</a>
               or <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
               or <a title="http://www.w3.org/ns/prov#InstantaneousEvent" href="#InstantaneousEvent" class="owlclass">prov:InstantaneousEvent</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Location" href="#Location" class="owlclass">prov:Location</a>
            </li>
          </ul>
        </dd>

      <dt>PROV-DM term</dt>
      <dd>
         <a title="prov-dm" href="http://dvcs.w3.org/hg/prov/raw-file/default/model/prov-dm.html#term-attribute-location">attribute-location</a>      </dd>

      </dl>
    </div>
  </div>

  <div id="generated" class="entity">
    <h3>
      Property: <a href="#generated"><span class="dotted" title="http://www.w3.org/ns/prov#generated">prov:generated</span></a> <sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-terms-at-a-glance">expanded properties</a>
      </span>
    </h3>
    <p><strong class="crossreference">IRI:</strong>http://www.w3.org/ns/prov#generated</p>
    <div class="definition def-from-2"><p>Generation is the completion of production of a new entity by an activity. This entity did not exist before generation and becomes available for usage after this generation.</p>
    </div>

    <div about="#example-for-property-generated" typeof="prov:Entity" class="example">
      <span rel="dcterms:subject" resource="http://www.w3.org/ns/prov#generated"></span>
      <strong class="crossreference">Example</strong>
      <pre rel="prov:wasQuotedFrom" resource="http://dvcs.w3.org/hg/prov/raw-file/tip/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_generated.ttl"
           property="prov:value">{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_generated.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <dl>

        <dt>has super-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#influenced" href="#influenced" class="owlclass">prov:influenced</a> <sup class="type-op" title="object property">op</sup>
            </li>
          </ul>
        </dd>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Activity" href="#Activity" class="owlclass">prov:Activity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>has inverse</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#wasGeneratedBy" href="#wasGeneratedBy" class="owlclass">prov:wasGeneratedBy</a>
            </li>
          </ul>
        </dd>

      <dt>PROV-DM term</dt>
      <dd>
         <a title="prov-dm" href="http://dvcs.w3.org/hg/prov/raw-file/default/model/prov-dm.html#term-Generation">Generation</a>      </dd>

      </dl>
    </div>
  </div>

  <div id="generatedAtTime" class="entity">
    <h3>
      Property: <a href="#generatedAtTime"><span class="dotted" title="http://www.w3.org/ns/prov#generatedAtTime">prov:generatedAtTime</span></a> <sup class="type-dp" title="data property">dp</sup>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-terms-at-a-glance">expanded properties</a>
      </span>
    </h3>
    <p><strong class="crossreference">IRI:</strong>http://www.w3.org/ns/prov#generatedAtTime</p>
    <div class="definition def-from-5"><p>Generation is the completion of production of a new entity by an activity. This entity did not exist before generation and becomes available for usage after this generation.</p>
    </div>

    <div about="#example-for-property-generatedAtTime" typeof="prov:Entity" class="example">
      <span rel="dcterms:subject" resource="http://www.w3.org/ns/prov#generatedAtTime"></span>
      <strong class="crossreference">Example</strong>
      <pre rel="prov:wasQuotedFrom" resource="http://dvcs.w3.org/hg/prov/raw-file/tip/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_generatedAtTime.ttl"
           property="prov:value">{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_generatedAtTime.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment "><p>The time at which an entity was completely created and is available for use.</p>
      </div>
      <dl>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              http://www.w3.org/2001/XMLSchema#dateTime
            </li>
          </ul>
        </dd>

        <dt>can be qualified with</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Generation" href="#Generation" class="owlclass">prov:Generation</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#atTime" href="#atTime" class="owlproperty">prov:atTime</a> <sup class="type-dp" title="data property">dp</sup>
            </li>
          </ul>
        </dd>

      <dt>PROV-DM term</dt>
      <dd>
         <a title="prov-dm" href="http://dvcs.w3.org/hg/prov/raw-file/default/model/prov-dm.html#term-Generation">Generation</a>      </dd>

      </dl>
    </div>
  </div>

  <div id="hadMember" class="entity">
    <h3>
      Property: <a href="#hadMember"><span class="dotted" title="http://www.w3.org/ns/prov#hadMember">prov:hadMember</span></a> <sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-terms-at-a-glance">expanded properties</a>
      </span>
    </h3>
    <p><strong class="crossreference">IRI:</strong>http://www.w3.org/ns/prov#hadMember</p>
    <div class="definition def-from-2"><p>A collection is an entity that provides a structure to some constituents, which are themselves entities. These constituents are said to be member of the collections.</p>
    </div>

    <div about="#example-for-property-hadMember" typeof="prov:Entity" class="example">
      <span rel="dcterms:subject" resource="http://www.w3.org/ns/prov#hadMember"></span>
      <strong class="crossreference">Example</strong>
      <pre rel="prov:wasQuotedFrom" resource="http://dvcs.w3.org/hg/prov/raw-file/tip/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_hadMember.ttl"
           property="prov:value">{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_hadMember.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <dl>

        <dt>has super-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#wasInfluencedBy" href="#wasInfluencedBy" class="owlclass">prov:wasInfluencedBy</a> <sup class="type-op" title="object property">op</sup>
            </li>
          </ul>
        </dd>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Collection" href="#Collection" class="owlclass">prov:Collection</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

      <dt>PROV-DM term</dt>
      <dd>
         <a title="prov-dm" href="http://dvcs.w3.org/hg/prov/raw-file/default/model/prov-dm.html#term-collection">collection</a>      </dd>

      </dl>
    </div>
  </div>

  <div id="hadPrimarySource" class="entity">
    <h3>
      Property: <a href="#hadPrimarySource"><span class="dotted" title="http://www.w3.org/ns/prov#hadPrimarySource">prov:hadPrimarySource</span></a> <sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-terms-at-a-glance">expanded properties</a>
      </span>
    </h3>
    <p><strong class="crossreference">IRI:</strong>http://www.w3.org/ns/prov#hadPrimarySource</p>
    <div class="definition def-from-5"><p>A primary source for a topic refers to something produced by some agent with direct experience and knowledge about the topic, at the time of the topic's study, without benefit from hindsight.

Because of the directness of primary sources, they 'speak for themselves' in ways that cannot be captured through the filter of secondary sources. As such, it is important for secondary sources to reference those primary sources from which they were derived, so that their reliability can be investigated.

A primary source relation is a particular case of derivation of secondary materials from their primary sources. It is recognized that the determination of primary sources can be up to interpretation, and should be done according to conventions accepted within the application's domain.</p>
    </div>

    <div about="#example-for-property-hadPrimarySource" typeof="prov:Entity" class="example">
      <span rel="dcterms:subject" resource="http://www.w3.org/ns/prov#hadPrimarySource"></span>
      <strong class="crossreference">Example</strong>
      <pre rel="prov:wasQuotedFrom" resource="http://dvcs.w3.org/hg/prov/raw-file/tip/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_hadPrimarySource.ttl"
           property="prov:value">{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_hadPrimarySource.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <dl>

        <dt>has super-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#wasDerivedFrom" href="#wasDerivedFrom" class="owlclass">prov:wasDerivedFrom</a> <sup class="type-op" title="object property">op</sup>
            </li>
          </ul>
        </dd>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>can be qualified with</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#qualifiedPrimarySource" href="#qualifiedPrimarySource" class="owlproperty">prov:qualifiedPrimarySource</a> <sup class="type-op" title="object property">op</sup>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#PrimarySource" href="#PrimarySource" class="owlclass">prov:PrimarySource</a>
            </li>
          </ul>
        </dd>

      <dt>PROV-DM term</dt>
      <dd>
         <a title="prov-dm" href="http://dvcs.w3.org/hg/prov/raw-file/default/model/prov-dm.html#term-primary-source">primary-source</a>      </dd>

      </dl>
    </div>
  </div>

  <div id="influenced" class="entity">
    <h3>
      Property: <a href="#influenced"><span class="dotted" title="http://www.w3.org/ns/prov#influenced">prov:influenced</span></a> <sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-terms-at-a-glance">expanded properties</a>
      </span>
    </h3>
    <p><strong class="crossreference">IRI:</strong>http://www.w3.org/ns/prov#influenced</p>
    <div class="definition def-from-2"><p>Influence is the capacity of an entity, activity, or agent to have an effect on the character, development, or behavior of another by means of usage, start, end, generation, invalidation, communication, derivation, attribution, association, or delegation.</p>
    </div>

    <div about="#example-for-property-influenced" typeof="prov:Entity" class="example">
      <span rel="dcterms:subject" resource="http://www.w3.org/ns/prov#influenced"></span>
      <strong class="crossreference">Example</strong>
      <pre rel="prov:wasQuotedFrom" resource="http://dvcs.w3.org/hg/prov/raw-file/tip/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_influenced.ttl"
           property="prov:value">{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_influenced.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <dl>

        <dt>has inverse</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#wasInfluencedBy" href="#wasInfluencedBy" class="owlclass">prov:wasInfluencedBy</a>
            </li>
          </ul>
        </dd>

        <dt>has sub-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#generated" href="#generated" class="owlclass">prov:generated</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#invalidated" href="#invalidated" class="owlclass">prov:invalidated</a>
            </li>
          </ul>
        </dd>

      <dt>PROV-DM term</dt>
      <dd>
         <a title="prov-dm" href="http://dvcs.w3.org/hg/prov/raw-file/default/model/prov-dm.html#term-influence">influence</a>      </dd>

      </dl>
    </div>
  </div>

  <div id="invalidated" class="entity">
    <h3>
      Property: <a href="#invalidated"><span class="dotted" title="http://www.w3.org/ns/prov#invalidated">prov:invalidated</span></a> <sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-terms-at-a-glance">expanded properties</a>
      </span>
    </h3>
    <p><strong class="crossreference">IRI:</strong>http://www.w3.org/ns/prov#invalidated</p>
    <div class="definition def-from-2"><p>Invalidation is the start of the destruction, cessation, or expiry of an existing entity by an activity. The entity is no longer available for use (or further invalidation) after invalidation. Any generation or usage of an entity precedes its invalidation.</p>
    </div>

    <div about="#example-for-property-invalidated" typeof="prov:Entity" class="example">
      <span rel="dcterms:subject" resource="http://www.w3.org/ns/prov#invalidated"></span>
      <strong class="crossreference">Example</strong>
      <pre rel="prov:wasQuotedFrom" resource="http://dvcs.w3.org/hg/prov/raw-file/tip/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_invalidated.ttl"
           property="prov:value">{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_invalidated.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <dl>

        <dt>has super-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#influenced" href="#influenced" class="owlclass">prov:influenced</a> <sup class="type-op" title="object property">op</sup>
            </li>
          </ul>
        </dd>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Activity" href="#Activity" class="owlclass">prov:Activity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>has inverse</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#wasInvalidatedBy" href="#wasInvalidatedBy" class="owlclass">prov:wasInvalidatedBy</a>
            </li>
          </ul>
        </dd>

      <dt>PROV-DM term</dt>
      <dd>
         <a title="prov-dm" href="http://dvcs.w3.org/hg/prov/raw-file/default/model/prov-dm.html#term-Invalidation">Invalidation</a>      </dd>

      </dl>
    </div>
  </div>

  <div id="invalidatedAtTime" class="entity">
    <h3>
      Property: <a href="#invalidatedAtTime"><span class="dotted" title="http://www.w3.org/ns/prov#invalidatedAtTime">prov:invalidatedAtTime</span></a> <sup class="type-dp" title="data property">dp</sup>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-terms-at-a-glance">expanded properties</a>
      </span>
    </h3>
    <p><strong class="crossreference">IRI:</strong>http://www.w3.org/ns/prov#invalidatedAtTime</p>
    <div class="definition def-from-5"><p>Invalidation is the start of the destruction, cessation, or expiry of an existing entity by an activity. The entity is no longer available for use (or further invalidation) after invalidation. Any generation or usage of an entity precedes its invalidation.</p>
    </div>

    <div about="#example-for-property-invalidatedAtTime" typeof="prov:Entity" class="example">
      <span rel="dcterms:subject" resource="http://www.w3.org/ns/prov#invalidatedAtTime"></span>
      <strong class="crossreference">Example</strong>
      <pre rel="prov:wasQuotedFrom" resource="http://dvcs.w3.org/hg/prov/raw-file/tip/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_invalidatedAtTime.ttl"
           property="prov:value">{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_invalidatedAtTime.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment "><p>The time at which an entity was invalidated (i.e., no longer usable).</p>
      </div>
      <dl>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              http://www.w3.org/2001/XMLSchema#dateTime
            </li>
          </ul>
        </dd>

        <dt>can be qualified with</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Invalidation" href="#Invalidation" class="owlclass">prov:Invalidation</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#atTime" href="#atTime" class="owlproperty">prov:atTime</a> <sup class="type-dp" title="data property">dp</sup>
            </li>
          </ul>
        </dd>

      <dt>PROV-DM term</dt>
      <dd>
         <a title="prov-dm" href="http://dvcs.w3.org/hg/prov/raw-file/default/model/prov-dm.html#term-Invalidation">Invalidation</a>      </dd>

      </dl>
    </div>
  </div>

  <div id="specializationOf" class="entity">
    <h3>
      Property: <a href="#specializationOf"><span class="dotted" title="http://www.w3.org/ns/prov#specializationOf">prov:specializationOf</span></a> <sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-terms-at-a-glance">expanded properties</a>
      </span>
    </h3>
    <p><strong class="crossreference">IRI:</strong>http://www.w3.org/ns/prov#specializationOf</p>
    <div class="definition def-from-1"><p>An entity that is a specialization of another shares all aspects of the latter, and additionally presents more specific aspects of the same thing as the latter. In particular, the lifetime of the entity being specialized contains that of any specialization. Examples of aspects include a time period, an abstraction, and a context associated with the entity.</p>
    </div>

    <div about="#example-for-property-specializationOf" typeof="prov:Entity" class="example">
      <span rel="dcterms:subject" resource="http://www.w3.org/ns/prov#specializationOf"></span>
      <strong class="crossreference">Example</strong>
      <pre rel="prov:wasQuotedFrom" resource="http://dvcs.w3.org/hg/prov/raw-file/tip/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_specializationOf.ttl"
           property="prov:value">{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_specializationOf.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <dl>

        <dt>has super-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#alternateOf" href="#alternateOf" class="owlclass">prov:alternateOf</a> <sup class="type-op" title="object property">op</sup>
            </li>
          </ul>
        </dd>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

      <dt>PROV-DM term</dt>
      <dd>
         <a title="prov-dm" href="http://dvcs.w3.org/hg/prov/raw-file/default/model/prov-dm.html#term-specialization">specialization</a>      </dd>

      </dl>
    </div>
  </div>

  <div id="value" class="entity">
    <h3>
      Property: <a href="#value"><span class="dotted" title="http://www.w3.org/ns/prov#value">prov:value</span></a> <sup class="type-dp" title="data property">dp</sup>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-terms-at-a-glance">expanded properties</a>
      </span>
    </h3>
    <p><strong class="crossreference">IRI:</strong>http://www.w3.org/ns/prov#value</p>
    <div class="definition def-from-7"><p>The main value (if there is one) of a structured value.</p>
    </div>

    <div about="#example-for-property-value" typeof="prov:Entity" class="example">
      <span rel="dcterms:subject" resource="http://www.w3.org/ns/prov#value"></span>
      <strong class="crossreference">Example</strong>
      <pre rel="prov:wasQuotedFrom" resource="http://dvcs.w3.org/hg/prov/raw-file/tip/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_value.ttl"
           property="prov:value">{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_value.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment "><p>Provides a value for an Entity.</p>
      </div>
      <dl>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

      <dt>PROV-DM term</dt>
      <dd>
         <a title="prov-dm" href="http://dvcs.w3.org/hg/prov/raw-file/default/model/prov-dm.html#term-attribute-value">attribute-value</a>      </dd>

      </dl>
    </div>
  </div>

  <div id="wasEndedBy" class="entity">
    <h3>
      Property: <a href="#wasEndedBy"><span class="dotted" title="http://www.w3.org/ns/prov#wasEndedBy">prov:wasEndedBy</span></a> <sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-terms-at-a-glance">expanded properties</a>
      </span>
    </h3>
    <p><strong class="crossreference">IRI:</strong>http://www.w3.org/ns/prov#wasEndedBy</p>
    <div class="definition def-from-5"><p>End is when an activity is deemed to have been ended by an entity, known as trigger. The activity no longer exists after its end. Any usage, generation, or invalidation involving an activity precedes the activity's end. An end may refer to a trigger entity that terminated the activity, or to an activity, known as ender that generated the trigger.</p>
    </div>

    <div about="#example-for-property-wasEndedBy" typeof="prov:Entity" class="example">
      <span rel="dcterms:subject" resource="http://www.w3.org/ns/prov#wasEndedBy"></span>
      <strong class="crossreference">Example</strong>
      <pre rel="prov:wasQuotedFrom" resource="http://dvcs.w3.org/hg/prov/raw-file/tip/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_wasEndedBy.ttl"
           property="prov:value">{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_wasEndedBy.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment "><p>End is when an activity is deemed to have ended. An end may refer to an entity, known as trigger, that terminated the activity.</p>
      </div>
      <dl>

        <dt>has super-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#wasInfluencedBy" href="#wasInfluencedBy" class="owlclass">prov:wasInfluencedBy</a> <sup class="type-op" title="object property">op</sup>
            </li>
          </ul>
        </dd>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Activity" href="#Activity" class="owlclass">prov:Activity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>can be qualified with</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#End" href="#End" class="owlclass">prov:End</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#qualifiedEnd" href="#qualifiedEnd" class="owlproperty">prov:qualifiedEnd</a> <sup class="type-op" title="object property">op</sup>
            </li>
          </ul>
        </dd>

      <dt>PROV-DM term</dt>
      <dd>
         <a title="prov-dm" href="http://dvcs.w3.org/hg/prov/raw-file/default/model/prov-dm.html#term-End">End</a>      </dd>

      </dl>
    </div>
  </div>

  <div id="wasInvalidatedBy" class="entity">
    <h3>
      Property: <a href="#wasInvalidatedBy"><span class="dotted" title="http://www.w3.org/ns/prov#wasInvalidatedBy">prov:wasInvalidatedBy</span></a> <sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-terms-at-a-glance">expanded properties</a>
      </span>
    </h3>
    <p><strong class="crossreference">IRI:</strong>http://www.w3.org/ns/prov#wasInvalidatedBy</p>
    <div class="definition def-from-5"><p>Invalidation is the start of the destruction, cessation, or expiry of an existing entity by an activity. The entity is no longer available for use (or further invalidation) after invalidation. Any generation or usage of an entity precedes its invalidation.</p>
    </div>

    <div about="#example-for-property-wasInvalidatedBy" typeof="prov:Entity" class="example">
      <span rel="dcterms:subject" resource="http://www.w3.org/ns/prov#wasInvalidatedBy"></span>
      <strong class="crossreference">Example</strong>
      <pre rel="prov:wasQuotedFrom" resource="http://dvcs.w3.org/hg/prov/raw-file/tip/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_wasInvalidatedBy.ttl"
           property="prov:value">{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_wasInvalidatedBy.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <dl>

        <dt>has super-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#wasInfluencedBy" href="#wasInfluencedBy" class="owlclass">prov:wasInfluencedBy</a> <sup class="type-op" title="object property">op</sup>
            </li>
          </ul>
        </dd>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Activity" href="#Activity" class="owlclass">prov:Activity</a>
            </li>
          </ul>
        </dd>

        <dt>can be qualified with</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Invalidation" href="#Invalidation" class="owlclass">prov:Invalidation</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#qualifiedInvalidation" href="#qualifiedInvalidation" class="owlproperty">prov:qualifiedInvalidation</a> <sup class="type-op" title="object property">op</sup>
            </li>
          </ul>
        </dd>

      <dt>PROV-DM term</dt>
      <dd>
         <a title="prov-dm" href="http://dvcs.w3.org/hg/prov/raw-file/default/model/prov-dm.html#term-Invalidation">Invalidation</a>      </dd>

      </dl>
    </div>
  </div>

  <div id="wasQuotedFrom" class="entity">
    <h3>
      Property: <a href="#wasQuotedFrom"><span class="dotted" title="http://www.w3.org/ns/prov#wasQuotedFrom">prov:wasQuotedFrom</span></a> <sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-terms-at-a-glance">expanded properties</a>
      </span>
    </h3>
    <p><strong class="crossreference">IRI:</strong>http://www.w3.org/ns/prov#wasQuotedFrom</p>
    <div class="definition def-from-5"><p>A quotation is the repeat of (some or all of) an entity, such as text or image, by someone who may or may not be its original author. Quotation is a particular case of derivation.</p>
    </div>

    <div about="#example-for-property-wasQuotedFrom" typeof="prov:Entity" class="example">
      <span rel="dcterms:subject" resource="http://www.w3.org/ns/prov#wasQuotedFrom"></span>
      <strong class="crossreference">Example</strong>
      <pre rel="prov:wasQuotedFrom" resource="http://dvcs.w3.org/hg/prov/raw-file/tip/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_wasQuotedFrom.ttl"
           property="prov:value">{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_wasQuotedFrom.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment "><p>An entity is derived from an original entity by copying, or 'quoting', some or all of it.</p>
      </div>
      <dl>

        <dt>has super-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#wasDerivedFrom" href="#wasDerivedFrom" class="owlclass">prov:wasDerivedFrom</a> <sup class="type-op" title="object property">op</sup>
            </li>
          </ul>
        </dd>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>can be qualified with</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#qualifiedQuotation" href="#qualifiedQuotation" class="owlproperty">prov:qualifiedQuotation</a> <sup class="type-op" title="object property">op</sup>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#Quotation" href="#Quotation" class="owlclass">prov:Quotation</a>
            </li>
          </ul>
        </dd>

      <dt>PROV-DM term</dt>
      <dd>
         <a title="prov-dm" href="http://dvcs.w3.org/hg/prov/raw-file/default/model/prov-dm.html#term-quotation">quotation</a>      </dd>

      </dl>
    </div>
  </div>

  <div id="wasRevisionOf" class="entity">
    <h3>
      Property: <a href="#wasRevisionOf"><span class="dotted" title="http://www.w3.org/ns/prov#wasRevisionOf">prov:wasRevisionOf</span></a> <sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-terms-at-a-glance">expanded properties</a>
      </span>
    </h3>
    <p><strong class="crossreference">IRI:</strong>http://www.w3.org/ns/prov#wasRevisionOf</p>
    <div class="definition def-from-5"><p>A revision is a derivation for which the resulting entity is a revised version of some original. The implication here is that the resulting entity contains substantial content from the original. Revision is a particular case of derivation.</p>
    </div>

    <div about="#example-for-property-wasRevisionOf" typeof="prov:Entity" class="example">
      <span rel="dcterms:subject" resource="http://www.w3.org/ns/prov#wasRevisionOf"></span>
      <strong class="crossreference">Example</strong>
      <pre rel="prov:wasQuotedFrom" resource="http://dvcs.w3.org/hg/prov/raw-file/tip/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_wasRevisionOf.ttl"
           property="prov:value">{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_wasRevisionOf.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment "><p>A revision is a derivation that revises an entity into a revised version.</p>
      </div>
      <dl>

        <dt>has super-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#wasDerivedFrom" href="#wasDerivedFrom" class="owlclass">prov:wasDerivedFrom</a> <sup class="type-op" title="object property">op</sup>
            </li>
          </ul>
        </dd>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>can be qualified with</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Revision" href="#Revision" class="owlclass">prov:Revision</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#qualifiedRevision" href="#qualifiedRevision" class="owlproperty">prov:qualifiedRevision</a> <sup class="type-op" title="object property">op</sup>
            </li>
          </ul>
        </dd>

      <dt>PROV-DM term</dt>
      <dd>
         <a title="prov-dm" href="http://dvcs.w3.org/hg/prov/raw-file/default/model/prov-dm.html#term-revision">revision</a>      </dd>

      </dl>
    </div>
  </div>

  <div id="wasStartedBy" class="entity">
    <h3>
      Property: <a href="#wasStartedBy"><span class="dotted" title="http://www.w3.org/ns/prov#wasStartedBy">prov:wasStartedBy</span></a> <sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-terms-at-a-glance">expanded properties</a>
      </span>
    </h3>
    <p><strong class="crossreference">IRI:</strong>http://www.w3.org/ns/prov#wasStartedBy</p>
    <div class="definition def-from-5"><p>Start is when an activity is deemed to have been started by an entity, known as trigger. The activity did not exist before its start. Any usage, generation, or invalidation involving an activity follows the activity's start. A start may refer to a trigger entity that set off the activity, or to an activity, known as starter, that generated the trigger.</p>
    </div>

    <div about="#example-for-property-wasStartedBy" typeof="prov:Entity" class="example">
      <span rel="dcterms:subject" resource="http://www.w3.org/ns/prov#wasStartedBy"></span>
      <strong class="crossreference">Example</strong>
      <pre rel="prov:wasQuotedFrom" resource="http://dvcs.w3.org/hg/prov/raw-file/tip/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_wasStartedBy.ttl"
           property="prov:value">{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_wasStartedBy.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment "><p>Start is when an activity is deemed to have started. A start may refer to an entity, known as trigger, that initiated the activity.</p>
      </div>
      <dl>

        <dt>has super-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#wasInfluencedBy" href="#wasInfluencedBy" class="owlclass">prov:wasInfluencedBy</a> <sup class="type-op" title="object property">op</sup>
            </li>
          </ul>
        </dd>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Activity" href="#Activity" class="owlclass">prov:Activity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>can be qualified with</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Start" href="#Start" class="owlclass">prov:Start</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#qualifiedStart" href="#qualifiedStart" class="owlproperty">prov:qualifiedStart</a> <sup class="type-op" title="object property">op</sup>
            </li>
          </ul>
        </dd>

      <dt>PROV-DM term</dt>
      <dd>
         <a title="prov-dm" href="http://dvcs.w3.org/hg/prov/raw-file/default/model/prov-dm.html#term-Start">Start</a>      </dd>

      </dl>
    </div>
  </div>

</div>
