<div    id="prov-collections-owl-classes-crossreference"
     class="prov-collections owl-classes crossreference">

  <div id="Collection" class="entity">
    <h3>
      Class: <a href="#Collection"><span class="dotted" title="http://www.w3.org/ns/prov#Collection">prov:Collection</span></a>
      <span class="backlink">
         back to <a href="#prov-collections-owl-classes-at-a-glance">collections classes</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#Collection</p>
    <div class="definition"><p>A collection is an entity that provides a structure to some constituents, which are themselves entities. These constituents are said to be member of the collections.</p>
    </div>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_Collection.ttl"%}{% endescape %}</pre>
    </div>

    <dl class="description">
    <div class="comment"><p>This concept allows for the provenance of the collection, but also of its constituents to be expressed. Such a notion of collection corresponds to a wide variety of concrete data structures, such as a maps, dictionaries, or associative arrays.</p>
    </div>
    <div class="comment"><p>A given collection forms a given structure for its members. A different structure (obtained either by insertion or removal of members) constitutes a different collection.</p>
    </div>

      <dt>is subclass of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
      </dd>

      <dt>in domain of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#derivedByInsertionFrom" href="#derivedByInsertionFrom">prov:derivedByInsertionFrom</a>
        <sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#qualifiedRemoval" href="#qualifiedRemoval">prov:qualifiedRemoval</a>
        <sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#qualifiedInsertion" href="#qualifiedInsertion">prov:qualifiedInsertion</a>
        <sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#derivedByRemovalFrom" href="#derivedByRemovalFrom">prov:derivedByRemovalFrom</a>
        <sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#membership" href="#membership">prov:membership</a>
        <sup class="type-op" title="object property">op</sup>
      </dd>

      <dt>in range of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#derivedByInsertionFrom" href="#derivedByInsertionFrom">prov:derivedByInsertionFrom</a>
        <sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#collection" href="#collection">prov:collection</a>
        <sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#derivedByRemovalFrom" href="#derivedByRemovalFrom">prov:derivedByRemovalFrom</a>
        <sup class="type-op" title="object property">op</sup>
      </dd>

      <dt>has subclass</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#EmptyCollection" href="#EmptyCollection" class="owlclass">prov:EmptyCollection</a>
      </dd>
    </dl>
  </div>

  <div id="CollectionInvolvement" class="entity">
    <h3>
      Class: <a href="#CollectionInvolvement"><span class="dotted" title="http://www.w3.org/ns/prov#CollectionInvolvement">prov:CollectionInvolvement</span></a>
      <span class="backlink">
         back to <a href="#prov-collections-owl-classes-at-a-glance">collections classes</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#CollectionInvolvement</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_CollectionInvolvement.ttl"%}{% endescape %}</pre>
    </div>

    <dl class="description">
    <div class="comment"><p>prov:CollectionInvolvement provides descriptions of any binary involvement between any instance and a prov:Collection.</p>
    </div>

      <dt>is subclass of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#Involvement" href="#Involvement" class="owlclass">prov:Involvement</a>
      </dd>

      <dt>in domain of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#collection" href="#collection">prov:collection</a>
        <sup class="type-op" title="object property">op</sup>
      </dd>

      <dt>has subclasses</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#Insertion" href="#Insertion" class="owlclass">prov:Insertion</a>
        <a title="http://www.w3.org/ns/prov#Removal" href="#Removal" class="owlclass">prov:Removal</a>
      </dd>
    </dl>
  </div>

  <div id="EmptyCollection" class="entity">
    <h3>
      Class: <a href="#EmptyCollection"><span class="dotted" title="http://www.w3.org/ns/prov#EmptyCollection">prov:EmptyCollection</span></a>
      <span class="backlink">
         back to <a href="#prov-collections-owl-classes-at-a-glance">collections classes</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#EmptyCollection</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_EmptyCollection.ttl"%}{% endescape %}</pre>
    </div>

    <dl class="description">
    <div class="comment"><p>An empty collection.</p>
    </div>

      <dt>is subclass of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#Collection" href="#Collection" class="owlclass">prov:Collection</a>
      </dd>
    </dl>
  </div>

  <div id="Insertion" class="entity">
    <h3>
      Class: <a href="#Insertion"><span class="dotted" title="http://www.w3.org/ns/prov#Insertion">prov:Insertion</span></a>
      <span class="backlink">
         back to <a href="#prov-collections-owl-classes-at-a-glance">collections classes</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#Insertion</p>
    <div class="definition"><p>Insertion is a derivation that transforms a collection into another, by insertion of one or more key-value pairs.</p>
    </div>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_Insertion.ttl"%}{% endescape %}</pre>
    </div>

    <dl class="description">
    <div class="comment"><p>Insertion is a derivation that transforms a collection into another, by insertion of one or more key-value pairs.</p>
    </div>

      <dt>is subclass of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#CollectionInvolvement" href="#CollectionInvolvement" class="owlclass">prov:CollectionInvolvement</a>
      </dd>

      <dt>in domain of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#inserted" href="#inserted">prov:inserted</a>
        <sup class="type-op" title="object property">op</sup>
      </dd>

      <dt>in range of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#qualifiedInsertion" href="#qualifiedInsertion">prov:qualifiedInsertion</a>
        <sup class="type-op" title="object property">op</sup>
      </dd>

      <dt>qualifies</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#derivedByInsertionFrom" href="#derivedByInsertionFrom" class="owlproperty">prov:derivedByInsertionFrom</a>
      </dd>
    </dl>
  </div>

  <div id="KeyValuePair" class="entity">
    <h3>
      Class: <a href="#KeyValuePair"><span class="dotted" title="http://www.w3.org/ns/prov#KeyValuePair">prov:KeyValuePair</span></a>
      <span class="backlink">
         back to <a href="#prov-collections-owl-classes-at-a-glance">collections classes</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#KeyValuePair</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_KeyValuePair.ttl"%}{% endescape %}</pre>
    </div>

    <dl class="description">
    <div class="comment"><p>A key-value pair. Part of a prov:Collection through prov:Membership. The key is any RDF Literal, the value is a prov:Entity.</p>
    </div>

      <dt>in domain of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#value" href="#value">prov:value</a>
        <sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#key" href="#key">prov:key</a>
        <sup class="type-dp" title="data property">dp</sup>
      </dd>

      <dt>in range of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#inserted" href="#inserted">prov:inserted</a>
        <sup class="type-op" title="object property">op</sup>
        <a title="http://www.w3.org/ns/prov#member" href="#member">prov:member</a>
        <sup class="type-op" title="object property">op</sup>
      </dd>
    </dl>
  </div>

  <div id="Membership" class="entity">
    <h3>
      Class: <a href="#Membership"><span class="dotted" title="http://www.w3.org/ns/prov#Membership">prov:Membership</span></a>
      <span class="backlink">
         back to <a href="#prov-collections-owl-classes-at-a-glance">collections classes</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#Membership</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_Membership.ttl"%}{% endescape %}</pre>
    </div>

    <dl class="description">
    <div class="comment"><p>Described members of a collection, in the form of key-value pairs. The Membership resource can also be annotated with attributes.</p>
    </div>

      <dt>in domain of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#member" href="#member">prov:member</a>
        <sup class="type-op" title="object property">op</sup>
      </dd>

      <dt>in range of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#membership" href="#membership">prov:membership</a>
        <sup class="type-op" title="object property">op</sup>
      </dd>

      <dt>qualifies</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#membership" href="#membership" class="owlproperty">prov:membership</a>
      </dd>
    </dl>
  </div>

  <div id="Removal" class="entity">
    <h3>
      Class: <a href="#Removal"><span class="dotted" title="http://www.w3.org/ns/prov#Removal">prov:Removal</span></a>
      <span class="backlink">
         back to <a href="#prov-collections-owl-classes-at-a-glance">collections classes</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#Removal</p>
    <div class="definition"><p>Removal is a derivation that transforms a collection into another, by removing one or more key-value pairs.</p>
    </div>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_Removal.ttl"%}{% endescape %}</pre>
    </div>

    <dl class="description">
    <div class="comment"><p>Removal is a derivation that transforms a collection into another, by removing one or more key-value pairs.</p>
    </div>

      <dt>is subclass of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#CollectionInvolvement" href="#CollectionInvolvement" class="owlclass">prov:CollectionInvolvement</a>
      </dd>

      <dt>in domain of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#removedKey" href="#removedKey">prov:removedKey</a>
        <sup class="type-dp" title="data property">dp</sup>
      </dd>

      <dt>in range of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#qualifiedRemoval" href="#qualifiedRemoval">prov:qualifiedRemoval</a>
        <sup class="type-op" title="object property">op</sup>
      </dd>

      <dt>qualifies</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#derivedByRemovalFrom" href="#derivedByRemovalFrom" class="owlproperty">prov:derivedByRemovalFrom</a>
      </dd>
    </dl>
  </div>
</div>
<div    id="prov-collections-owl-properties-crossreference"
     class="prov-collections owl-properties crossreference">
  <div id="collection" class="entity">
    <h3>
      Property: <a href="#collection"><span class="dotted" title="http://www.w3.org/ns/prov#collection">prov:collection</span></a>
      <sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-collections-owl-properties-at-a-glance">collections properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#collection</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_collection.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>The property used by a prov:CollectionInvolvement to cite the prov:Collection that was prov:involved in insertion or removal of elements of a collection. </p>
      </div>
      <dl>

        <dt>has super-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#involvee" href="#involvee" class="owlclass">prov:involvee</a>
            </li>
          </ul>
        </dd>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#CollectionInvolvement" href="#CollectionInvolvement" class="owlclass">prov:CollectionInvolvement</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Collection" href="#Collection" class="owlclass">prov:Collection</a>
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

  <div id="derivedByInsertionFrom" class="entity">
    <h3>
      Property: <a href="#derivedByInsertionFrom"><span class="dotted" title="http://www.w3.org/ns/prov#derivedByInsertionFrom">prov:derivedByInsertionFrom</span></a>
      <sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-collections-owl-properties-at-a-glance">collections properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#derivedByInsertionFrom</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_derivedByInsertionFrom.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>The collection was derived from the other by insertion. prov:qualifiedInsertion shows details of the insertion, in particular the inserted key-value pairs.</p>
      </div>
      <dl>

        <dt>has super-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#wasDerivedFrom" href="#wasDerivedFrom" class="owlclass">prov:wasDerivedFrom</a>
            </li>
          </ul>
        </dd>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Collection" href="#Collection" class="owlclass">prov:Collection</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Collection" href="#Collection" class="owlclass">prov:Collection</a>
            </li>
          </ul>
        </dd>

        <dt>can be qualified with</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#qualifiedInsertion" href="#qualifiedInsertion" class="owlproperty">prov:qualifiedInsertion</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#Insertion" href="#Insertion" class="owlclass">prov:Insertion</a>
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

  <div id="derivedByRemovalFrom" class="entity">
    <h3>
      Property: <a href="#derivedByRemovalFrom"><span class="dotted" title="http://www.w3.org/ns/prov#derivedByRemovalFrom">prov:derivedByRemovalFrom</span></a>
      <sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-collections-owl-properties-at-a-glance">collections properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#derivedByRemovalFrom</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_derivedByRemovalFrom.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>The collection was derived from the other by removal. prov:qualifiedRemoval shows details of the removal, in particular the removed key-value pairs.</p>
      </div>
      <dl>

        <dt>has super-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#wasDerivedFrom" href="#wasDerivedFrom" class="owlclass">prov:wasDerivedFrom</a>
            </li>
          </ul>
        </dd>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Collection" href="#Collection" class="owlclass">prov:Collection</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Collection" href="#Collection" class="owlclass">prov:Collection</a>
            </li>
          </ul>
        </dd>

        <dt>can be qualified with</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#qualifiedRemoval" href="#qualifiedRemoval" class="owlproperty">prov:qualifiedRemoval</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#Removal" href="#Removal" class="owlclass">prov:Removal</a>
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

  <div id="inserted" class="entity">
    <h3>
      Property: <a href="#inserted"><span class="dotted" title="http://www.w3.org/ns/prov#inserted">prov:inserted</span></a>
      <sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-collections-owl-properties-at-a-glance">collections properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#inserted</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_inserted.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>An object property to refer to the prov:KeyValuePair inserted into a prov:Collection.</p>
      </div>
      <dl>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Insertion" href="#Insertion" class="owlclass">prov:Insertion</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#KeyValuePair" href="#KeyValuePair" class="owlclass">prov:KeyValuePair</a>
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

  <div id="key" class="entity">
    <h3>
      Property: <a href="#key"><span class="dotted" title="http://www.w3.org/ns/prov#key">prov:key</span></a>
      <sup class="type-dp" title="data property">dp</sup>
      <span class="backlink">
         back to <a href="#prov-collections-owl-properties-at-a-glance">collections properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#key</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_key.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>The key of a KeyValuePair, which is an element of a prov:Collection.</p>
      </div>
      <p><strong>has characteristics</strong>  Functional       </p>
      <dl>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#KeyValuePair" href="#KeyValuePair" class="owlclass">prov:KeyValuePair</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              http://www.w3.org/2000/01/rdf-schema#Literal
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

  <div id="member" class="entity">
    <h3>
      Property: <a href="#member"><span class="dotted" title="http://www.w3.org/ns/prov#member">prov:member</span></a>
      <sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-collections-owl-properties-at-a-glance">collections properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#member</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_member.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>The key-value pair was part of the membership. A membership can have multiple members.</p>
      </div>
      <dl>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Membership" href="#Membership" class="owlclass">prov:Membership</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#KeyValuePair" href="#KeyValuePair" class="owlclass">prov:KeyValuePair</a>
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

  <div id="membership" class="entity">
    <h3>
      Property: <a href="#membership"><span class="dotted" title="http://www.w3.org/ns/prov#membership">prov:membership</span></a>
      <sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-collections-owl-properties-at-a-glance">collections properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#membership</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_membership.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>The collection included the specified membership of keys-values.</p>
      </div>
      <dl>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Collection" href="#Collection" class="owlclass">prov:Collection</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Membership" href="#Membership" class="owlclass">prov:Membership</a>
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

  <div id="qualifiedInsertion" class="entity">
    <h3>
      Property: <a href="#qualifiedInsertion"><span class="dotted" title="http://www.w3.org/ns/prov#qualifiedInsertion">prov:qualifiedInsertion</span></a>
      <sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-collections-owl-properties-at-a-glance">collections properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#qualifiedInsertion</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_qualifiedInsertion.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>If this Collection prov:derivedByInsertionFrom another Collection :e, then it can qualify how it did perform the Insertion using prov:qualifiedInsertion [ a prov:Insertion;  prov:collection :e; prov:inserted [a prov:KeyValuePair; prov:key "k1"^^xsd:string; prov:value :foo] ].</p>
      </div>
      <dl>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Collection" href="#Collection" class="owlclass">prov:Collection</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Insertion" href="#Insertion" class="owlclass">prov:Insertion</a>
            </li>
          </ul>
        </dd>

      <dt>qualifies</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#derivedByInsertionFrom" href="#derivedByInsertionFrom" class="owlproperty">prov:derivedByInsertionFrom</a>
      </dd>

      </dl>
    </div>
  </div>

  <div id="qualifiedRemoval" class="entity">
    <h3>
      Property: <a href="#qualifiedRemoval"><span class="dotted" title="http://www.w3.org/ns/prov#qualifiedRemoval">prov:qualifiedRemoval</span></a>
      <sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-collections-owl-properties-at-a-glance">collections properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#qualifiedRemoval</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_qualifiedRemoval.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>If this Collection prov:derivedByRemovalFrom another Collection :e, then it can qualify how it did perform the Removal using prov:qualifiedRemoval [ a prov:Removal;  prov:collection :c; prov:removed "k1"^^xsd:string ].</p>
      </div>
      <dl>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Collection" href="#Collection" class="owlclass">prov:Collection</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Removal" href="#Removal" class="owlclass">prov:Removal</a>
            </li>
          </ul>
        </dd>

      <dt>qualifies</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#derivedByRemovalFrom" href="#derivedByRemovalFrom" class="owlproperty">prov:derivedByRemovalFrom</a>
      </dd>

      </dl>
    </div>
  </div>

  <div id="removedKey" class="entity">
    <h3>
      Property: <a href="#removedKey"><span class="dotted" title="http://www.w3.org/ns/prov#removedKey">prov:removedKey</span></a>
      <sup class="type-dp" title="data property">dp</sup>
      <span class="backlink">
         back to <a href="#prov-collections-owl-properties-at-a-glance">collections properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#removedKey</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_removedKey.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>The key removed in a Removal.</p>
      </div>
      <dl>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Removal" href="#Removal" class="owlclass">prov:Removal</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              http://www.w3.org/2000/01/rdf-schema#Literal
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

  <div id="value" class="entity">
    <h3>
      Property: <a href="#value"><span class="dotted" title="http://www.w3.org/ns/prov#value">prov:value</span></a>
      <sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-collections-owl-properties-at-a-glance">collections properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#value</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_value.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>The value of a KeyValuePair.</p>
      </div>
      <p><strong>has characteristics</strong>  Functional       </p>
      <dl>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#KeyValuePair" href="#KeyValuePair" class="owlclass">prov:KeyValuePair</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

</div>
