<div    id="prov-expanded-owl-classes-crossreference"
     class="prov-expanded owl-classes crossreference">

  <div id="Account" class="entity">
    <h3>
      Class: <a href="#Account"><span class="dotted" title="http://www.w3.org/ns/prov#Account">prov:Account</span></a>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-classes-at-a-glance">expanded classes</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#Account</p>
    <div class="definition"><p>An account is any mechanism by which a set of provenance descriptions can be bundled up and named.</p>
    </div>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_Account.ttl"%}{% endescape %}</pre>
    </div>

    <dl class="description">
    <div class="comment"><p>Note that there are kinds of accounts (e.g. handwritten letters, audio recordings, etc.) that are not expressed in PROV-O, but can be still be described by PROV-O.</p>
    </div>

      <dt>is subclass of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
      </dd>
    </dl>
  </div>

  <div id="Location" class="entity">
    <h3>
      Class: <a href="#Location"><span class="dotted" title="http://www.w3.org/ns/prov#Location">prov:Location</span></a>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-classes-at-a-glance">expanded classes</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#Location</p>
    <div class="definition"><p>A location can be an identifiable geographic place (ISO 19112), but it can also be a non-geographic place such as a directory, row, or column. As such, there are numerous ways in which location can be expressed, such as by a coordinate, address, landmark, and so forth.</p>
    </div>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_Location.ttl"%}{% endescape %}</pre>
    </div>

    <dl class="description">
    <div class="comment"><p>A location can be an identifiable geographic place (ISO 19112), but it can also be a non-geographic place such as a directory, row, or column. As such, there are numerous ways in which location can be expressed, such as by a coordinate, address, landmark, and so forth.</p>
    </div>

      <dt>in range of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#atLocation" href="#atLocation">prov:atLocation</a><sup class="type-op" title="object property">op</sup>
      </dd>
    </dl>
  </div>

  <div id="Note" class="entity">
    <h3>
      Class: <a href="#Note"><span class="dotted" title="http://www.w3.org/ns/prov#Note">prov:Note</span></a>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-classes-at-a-glance">expanded classes</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#Note</p>
    <div class="definition"><p>Attribute-value pairs occurring in notes are application specific.</p>
    </div>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_Note.ttl"%}{% endescape %}</pre>
    </div>

    <dl class="description">
    <div class="comment"><p>Attribute-value pairs occurring in notes are application specific.</p>
    </div>

      <dt>in range of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#hasAnnotation" href="#hasAnnotation">prov:hasAnnotation</a><sup class="type-op" title="object property">op</sup>
      </dd>
    </dl>
  </div>

  <div id="Organization" class="entity">
    <h3>
      Class: <a href="#Organization"><span class="dotted" title="http://www.w3.org/ns/prov#Organization">prov:Organization</span></a>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-classes-at-a-glance">expanded classes</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#Organization</p>
    <div class="definition"><p>Agents of type Organization are social institutions such as companies, societies etc.</p>
    </div>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_Organization.ttl"%}{% endescape %}</pre>
    </div>

    <dl class="description">
    <div class="comment"><p>Agents of type Organization are social institutions such as companies, societies etc.</p>
    </div>

      <dt>is subclass of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#Agent" href="#Agent" class="owlclass">prov:Agent</a>
      </dd>
    </dl>
  </div>

  <div id="Person" class="entity">
    <h3>
      Class: <a href="#Person"><span class="dotted" title="http://www.w3.org/ns/prov#Person">prov:Person</span></a>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-classes-at-a-glance">expanded classes</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#Person</p>
    <div class="definition"><p>Agents of type Person are people.</p>
    </div>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_Person.ttl"%}{% endescape %}</pre>
    </div>

    <dl class="description">
    <div class="comment"><p>Agents of type Person are people.</p>
    </div>

      <dt>is subclass of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#Agent" href="#Agent" class="owlclass">prov:Agent</a>
      </dd>
    </dl>
  </div>

  <div id="SoftwareAgent" class="entity">
    <h3>
      Class: <a href="#SoftwareAgent"><span class="dotted" title="http://www.w3.org/ns/prov#SoftwareAgent">prov:SoftwareAgent</span></a>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-classes-at-a-glance">expanded classes</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#SoftwareAgent</p>
    <div class="definition"><p>A software agent is running software.</p>
    </div>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_SoftwareAgent.ttl"%}{% endescape %}</pre>
    </div>

    <dl class="description">
    <div class="comment"><p>A software agent is running software.</p>
    </div>

      <dt>is subclass of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#Agent" href="#Agent" class="owlclass">prov:Agent</a>
      </dd>
    </dl>
  </div>
</div>
<div    id="prov-expanded-owl-properties-crossreference"
     class="prov-expanded owl-properties crossreference">
  <div id="alternateOf" class="entity">
    <h3>
      Property: <a href="#alternateOf"><span class="dotted" title="http://www.w3.org/ns/prov#alternateOf">prov:alternateOf</span></a><sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-properties-at-a-glance">expanded properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#alternateOf</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_alternateOf.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>An entity is alternate of another if they are both a specialization of some common entity. The common entity does not need to be identified.</p>
      </div>
      <dl>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

  <div id="atLocation" class="entity">
    <h3>
      Property: <a href="#atLocation"><span class="dotted" title="http://www.w3.org/ns/prov#atLocation">prov:atLocation</span></a><sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-properties-at-a-glance">expanded properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#atLocation</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_atLocation.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>Location is an optional attribute of Entity and Activity.</p>
      </div>
      <p><strong>has characteristics</strong> Asymmetric , Irreflexive       </p>
      <dl>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Location" href="#Location" class="owlclass">prov:Location</a>
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

  <div id="generated" class="entity">
    <h3>
      Property: <a href="#generated"><span class="dotted" title="http://www.w3.org/ns/prov#generated">prov:generated</span></a><sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-properties-at-a-glance">expanded properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#generated</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_generated.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>This inverse of prov:wasGeneratedBy is defined so that Activities being described can reference their generated outputs directly without needing to 'stop' and start describing the Entity. This helps 'Activity-centric' modeling as opposed to 'Entity-centric' modeling.</p>
      </div>
      <dl>

        <dt>has super-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#involved" href="#involved" class="owlclass">prov:involved</a>
            </li>
          </ul>
        </dd>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Activity" href="#Activity" class="owlclass">prov:Activity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>has inverse</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#wasGeneratedBy" href="#wasGeneratedBy" class="owlclass">prov:wasGeneratedBy</a>
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

  <div id="hadOriginalSource" class="entity">
    <h3>
      Property: <a href="#hadOriginalSource"><span class="dotted" title="http://www.w3.org/ns/prov#hadOriginalSource">prov:hadOriginalSource</span></a><sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-properties-at-a-glance">expanded properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#hadOriginalSource</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_hadOriginalSource.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <dl>

        <dt>has super-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#wasDerivedFrom" href="#wasDerivedFrom" class="owlclass">prov:wasDerivedFrom</a>
            </li>
          </ul>
        </dd>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>can be qualified with</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Source" href="#Source" class="owlclass">prov:Source</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#qualifiedSource" href="#qualifiedSource" class="owlproperty">prov:qualifiedSource</a>
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

  <div id="hasAnnotation" class="entity">
    <h3>
      Property: <a href="#hasAnnotation"><span class="dotted" title="http://www.w3.org/ns/prov#hasAnnotation">prov:hasAnnotation</span></a><sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-properties-at-a-glance">expanded properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#hasAnnotation</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_hasAnnotation.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <dl>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Note" href="#Note" class="owlclass">prov:Note</a>
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

  <div id="specializationOf" class="entity">
    <h3>
      Property: <a href="#specializationOf"><span class="dotted" title="http://www.w3.org/ns/prov#specializationOf">prov:specializationOf</span></a><sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-properties-at-a-glance">expanded properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#specializationOf</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_specializationOf.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>An entity is a specialization of another if they both refer to some common thing but the former is a more constrained entity than the former. The common entity does not need to be identified.</p>
      </div>
      <dl>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

  <div id="tracedTo" class="entity">
    <h3>
      Property: <a href="#tracedTo"><span class="dotted" title="http://www.w3.org/ns/prov#tracedTo">prov:tracedTo</span></a><sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-properties-at-a-glance">expanded properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#tracedTo</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_tracedTo.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>An object property to link back an entity to another by means of derivation or responsibility relations, possibly repeatedly traversed.</p>
      </div>
      <p><strong>has characteristics</strong> Transitive       </p>
      <dl>

        <dt>has super-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#involved" href="#involved" class="owlclass">prov:involved</a>
            </li>
          </ul>
        </dd>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>has sub-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#wasDerivedFrom" href="#wasDerivedFrom" class="owlclass">prov:wasDerivedFrom</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#wasAttributedTo" href="#wasAttributedTo" class="owlclass">prov:wasAttributedTo</a>
            </li>
          </ul>
        </dd>

        <dt>can be qualified with</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Trace" href="#Trace" class="owlclass">prov:Trace</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#qualifiedTrace" href="#qualifiedTrace" class="owlproperty">prov:qualifiedTrace</a>
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

  <div id="wasEndedBy" class="entity">
    <h3>
      Property: <a href="#wasEndedBy"><span class="dotted" title="http://www.w3.org/ns/prov#wasEndedBy">prov:wasEndedBy</span></a><sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-properties-at-a-glance">expanded properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#wasEndedBy</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_wasEndedBy.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>End is when an activity is deemed to have ended. An end may refer to an entity, known as trigger, that terminated the activity.</p>
      </div>
      <dl>

        <dt>has super-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#involved" href="#involved" class="owlclass">prov:involved</a>
            </li>
          </ul>
        </dd>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Activity" href="#Activity" class="owlclass">prov:Activity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>can be qualified with</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#End" href="#End" class="owlclass">prov:End</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#qualifiedEnd" href="#qualifiedEnd" class="owlproperty">prov:qualifiedEnd</a>
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

  <div id="wasQuotedFrom" class="entity">
    <h3>
      Property: <a href="#wasQuotedFrom"><span class="dotted" title="http://www.w3.org/ns/prov#wasQuotedFrom">prov:wasQuotedFrom</span></a><sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-properties-at-a-glance">expanded properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#wasQuotedFrom</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_wasQuotedFrom.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>An entity is derived from an original entity by copying, or "quoting", some or all of it.</p>
      </div>
      <dl>

        <dt>has super-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#wasDerivedFrom" href="#wasDerivedFrom" class="owlclass">prov:wasDerivedFrom</a>
            </li>
          </ul>
        </dd>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>can be qualified with</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#qualifiedQuotation" href="#qualifiedQuotation" class="owlproperty">prov:qualifiedQuotation</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#Quotation" href="#Quotation" class="owlclass">prov:Quotation</a>
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

  <div id="wasRevisionOf" class="entity">
    <h3>
      Property: <a href="#wasRevisionOf"><span class="dotted" title="http://www.w3.org/ns/prov#wasRevisionOf">prov:wasRevisionOf</span></a><sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-properties-at-a-glance">expanded properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#wasRevisionOf</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_wasRevisionOf.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>A revision is a derivation that revises an entity into a revised version.</p>
      </div>
      <dl>

        <dt>has super-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#wasDerivedFrom" href="#wasDerivedFrom" class="owlclass">prov:wasDerivedFrom</a>
            </li>
          </ul>
        </dd>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>can be qualified with</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Revision" href="#Revision" class="owlclass">prov:Revision</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#qualifiedRevision" href="#qualifiedRevision" class="owlproperty">prov:qualifiedRevision</a>
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

  <div id="wasStartedBy" class="entity">
    <h3>
      Property: <a href="#wasStartedBy"><span class="dotted" title="http://www.w3.org/ns/prov#wasStartedBy">prov:wasStartedBy</span></a><sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-expanded-owl-properties-at-a-glance">expanded properties</a>
      </span>
    </h3>
    <p><strong>IRI:</strong> http://www.w3.org/ns/prov#wasStartedBy</p>

    <div class="example">
      <strong>Example</strong>
      <pre>{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_wasStartedBy.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>Start is when an activity is deemed to have started. A start may refer to an entity, known as trigger, that initiated the activity.</p>
      </div>
      <dl>

        <dt>has super-properties</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#involved" href="#involved" class="owlclass">prov:involved</a>
            </li>
          </ul>
        </dd>

        <dt>has domain</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Activity" href="#Activity" class="owlclass">prov:Activity</a>
            </li>
          </ul>
        </dd>

        <dt>has range</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Entity" href="#Entity" class="owlclass">prov:Entity</a>
            </li>
          </ul>
        </dd>

        <dt>can be qualified with</dt>
        <dd>
          <ul>
            <li>
              <a title="http://www.w3.org/ns/prov#Start" href="#Start" class="owlclass">prov:Start</a>
            </li>
            <li>
              <a title="http://www.w3.org/ns/prov#qualifiedStart" href="#qualifiedStart" class="owlproperty">prov:qualifiedStart</a>
            </li>
          </ul>
        </dd>

      </dl>
    </div>
  </div>

</div>
