<div
     class="prov-access-and-query owl-classes crossreference"
     xmlns:dcterms="http://purl.org/dc/terms/"
     xmlns:prov="http://www.w3.org/ns/prov#">

  <div id="ProvenanceService" class="entity">
    <h3>
      Class: <a href="#ProvenanceService"><span class="dotted" title="http://www.w3.org/ns/prov#ProvenanceService">prov:ProvenanceService</span></a>
      <span class="backlink">
         back to <a href="#prov-access-and-query-owl-terms-at-a-glance">access-and-query classes</a>
      </span>
    </h3>
    <p><strong class="crossreference">IRI:</strong>http://www.w3.org/ns/prov#ProvenanceService</p>

    <div about="#example-for-class-ProvenanceService" typeof="prov:Entity" class="example">
      <span rel="dcterms:subject" resource="http://www.w3.org/ns/prov#ProvenanceService"></span>
      <strong class="crossreference">Example</strong>
      <pre rel="prov:wasQuotedFrom" resource="http://dvcs.w3.org/hg/prov/raw-file/tip/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_ProvenanceService.ttl"
           property="prov:value">{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/class_ProvenanceService.ttl"%}{% endescape %}</pre>
    </div>

    <dl class="description">
    <dd class="comment"><p>Class for a service described by a provenance service description.</p>
    </dd>

      <dt>is subclass of</dt>
      <dd>
        <a title="http://www.w3.org/ns/prov#SoftwareAgent" href="#SoftwareAgent" class="owlclass">prov:SoftwareAgent</a>
      </dd>
    </dl>
  </div>
</div>
<div
     class="prov-access-and-query owl-properties crossreference"
     xmlns:prov="http://www.w3.org/ns/prov#">
  <div id="hasAnchor" class="entity">
    <h3>
      Property: <a href="#hasAnchor"><span class="dotted" title="http://www.w3.org/ns/prov#hasAnchor">prov:hasAnchor</span></a> <sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-access-and-query-owl-terms-at-a-glance">access-and-query properties</a>
      </span>
    </h3>
    <p><strong class="crossreference">IRI:</strong>http://www.w3.org/ns/prov#hasAnchor</p>
    <div class="definition"><p>TODO Property needs a definition.</p>
    </div>

    <div about="#example-for-property-hasAnchor" typeof="prov:Entity" class="example">
      <span rel="dcterms:subject" resource="http://www.w3.org/ns/prov#hasAnchor"></span>
      <strong class="crossreference">Example</strong>
      <pre rel="prov:wasQuotedFrom" resource="http://dvcs.w3.org/hg/prov/raw-file/tip/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_hasAnchor.ttl"
           property="prov:value">{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_hasAnchor.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>Indicates anchor URI for a potentially dynamic resource instance.</p>
      </div>
      <dl>

      </dl>
    </div>
  </div>

  <div id="hasProvenance" class="entity">
    <h3>
      Property: <a href="#hasProvenance"><span class="dotted" title="http://www.w3.org/ns/prov#hasProvenance">prov:hasProvenance</span></a> <sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-access-and-query-owl-terms-at-a-glance">access-and-query properties</a>
      </span>
    </h3>
    <p><strong class="crossreference">IRI:</strong>http://www.w3.org/ns/prov#hasProvenance</p>
    <div class="definition"><p>TODO Property needs a definition.</p>
    </div>

    <div about="#example-for-property-hasProvenance" typeof="prov:Entity" class="example">
      <span rel="dcterms:subject" resource="http://www.w3.org/ns/prov#hasProvenance"></span>
      <strong class="crossreference">Example</strong>
      <pre rel="prov:wasQuotedFrom" resource="http://dvcs.w3.org/hg/prov/raw-file/tip/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_hasProvenance.ttl"
           property="prov:value">{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_hasProvenance.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>Relates a resource to its provenance.</p>
      </div>
      <dl>

      </dl>
    </div>
  </div>

  <div id="hasProvenanceService" class="entity">
    <h3>
      Property: <a href="#hasProvenanceService"><span class="dotted" title="http://www.w3.org/ns/prov#hasProvenanceService">prov:hasProvenanceService</span></a> <sup class="type-op" title="object property">op</sup>
      <span class="backlink">
         back to <a href="#prov-access-and-query-owl-terms-at-a-glance">access-and-query properties</a>
      </span>
    </h3>
    <p><strong class="crossreference">IRI:</strong>http://www.w3.org/ns/prov#hasProvenanceService</p>
    <div class="definition"><p>TODO Property needs a definition.</p>
    </div>

    <div about="#example-for-property-hasProvenanceService" typeof="prov:Entity" class="example">
      <span rel="dcterms:subject" resource="http://www.w3.org/ns/prov#hasProvenanceService"></span>
      <strong class="crossreference">Example</strong>
      <pre rel="prov:wasQuotedFrom" resource="http://dvcs.w3.org/hg/prov/raw-file/tip/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_hasProvenanceService.ttl"
           property="prov:value">{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_hasProvenanceService.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>Relates a resource to a provenance service.</p>
      </div>
      <dl>

      </dl>
    </div>
  </div>

  <div id="provenanceUriTemplate" class="entity">
    <h3>
      Property: <a href="#provenanceUriTemplate"><span class="dotted" title="http://www.w3.org/ns/prov#provenanceUriTemplate">prov:provenanceUriTemplate</span></a> <sup class="type-dp" title="data property">dp</sup>
      <span class="backlink">
         back to <a href="#prov-access-and-query-owl-terms-at-a-glance">access-and-query properties</a>
      </span>
    </h3>
    <p><strong class="crossreference">IRI:</strong>http://www.w3.org/ns/prov#provenanceUriTemplate</p>
    <div class="definition"><p>TODO Property needs a definition.</p>
    </div>

    <div about="#example-for-property-provenanceUriTemplate" typeof="prov:Entity" class="example">
      <span rel="dcterms:subject" resource="http://www.w3.org/ns/prov#provenanceUriTemplate"></span>
      <strong class="crossreference">Example</strong>
      <pre rel="prov:wasQuotedFrom" resource="http://dvcs.w3.org/hg/prov/raw-file/tip/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_provenanceUriTemplate.ttl"
           property="prov:value">{% escape %}{% include "includes/prov/examples/eg-24-prov-o-html-examples/rdf/create/rdf/property_provenanceUriTemplate.ttl"%}{% endescape %}</pre>
    </div>

    <div class="description">
      <div class="comment"><p>Relates a provenance service to a URI template string for constructing provenance-URIs.</p>
      </div>
      <dl>

      </dl>
    </div>
  </div>

</div>
