     <section id="description-expanded-terms">
	  	<h3>Expanded Terms</h3>
        <!-- *****Initial comments*****
This section presents the rest of classes and properties textually 
without using a diagram. We may use some examples in English. 
The classes and properties covered in this section are: 
Note, hasAnnotation, tracedTo, wasRevisionOf, hadOriginalSource, 
wasQuotatedFrom, hadQuotatedAgent, hadQuoterAgent, wasSummaryOf, 
alternateOf, terms related to Collection? Bundle? Role?? , hadRole, 
Location??, hadLocation?, wasStartedByActivity?? specializationOf?
*****End comments*********
       -->

        <p>This section defines additional terms for describing provenance at a greater level of specificity in Agents (i.e., <a href="#Person" class="qname">prov:Person</a> or
		<a href="#SoftwareAgent" class="qname">prov:SoftwareAgent</a> and <a href="#Organization" class="qname">prov:Organization</a>) and entities 
		(<a href="#specializationOf" class="qname">prov:specializationOf</a> and <a href="#AlternateOf" class="qname">prov:AlternateOf</a>). 
		</p>
		<p>
		Additionally, some of these terms provide the means to assert extended details about the concepts introduced in section 3.1
		(<a href="#wasStartedBy" class="qname">prov:wasStartedBy</a> and (<a href="#wasEndedBy" class="qname">prov:wasEndedBy</a> in activities 
		 and <a href="#Location" class="qname">prov:Location</a> in entities).
		 
		Further annotations on provenance records can be done through <a href="#Note" class="qname">prov:Notes</a>, although we can group the provenance statements in 
		<a href="#Account" class="qname">prov:Accounts</a> in order to keep the record of the provenance metadata itself.
		</p>
		<p>
		The new terms in this section also facilitate the modeling of common provenance assertions related to web resources. 
		For example, different versions of a web page can be represented using the <a href="#wasRevisionOf" class="qname">prov:wasRevisionOf</a> 
		property, the <a href="#hadOriginalSource" class="qname">prov:hadOriginalSource</a> property can be used to reference the original source
		of information used in a web resource and users can quote existent entities using the <a href="#wasQuotedFrom" class="qname">prov:wasQuotedFrom</a> property. 
		For expressing the dependency between two different entities, users can assert the <a href="#tracedTo" class="qname">prov:tracedTo</a> property.
		
        </p>

        <div class="exampleOuter">
           <p>We illustrate below the use of the expanded terms using the crime file example from the previous section as reference. Agent Derek now publishes a post about
		   his work with the aggregated file, while Monica publishes an alternate version to reach a more casual audience.
		   </p> 
		   
		   <pre class="example">
		   {% escape %}{% include "includes/prov/examples/eg-25-extended-crime-file-example/rdf/extended-crime-file-pt1.ttl" %}{% endescape %}
		   </pre> 
		   
		   <p>
		   Agent <code>ex:derek</code>, acting again in behalf of the <code>ex:chartgenerators</code> organization, 
		   publishes a post about his recent changes to the aggregated file (<code>ex:aggregatedByRegions</code>). He also provides the location for the crime file, so everyone knows the content he has been browsing, 
		   and records the city where the publishing took place (Madrid). Since he is the one who started and ended the publishing activity (<code>ex:publicationActivity1123</code>), that information
		   is recorded as well. The post produced by <code>ex:derek</code> (<code>ex:post9821</code>) includes a permanent link where the content of the latest version is shown
		   (<code>ex:more-crime-happens-in-cities</code>) plus a snapshot of the content of the current version (<code>ex:postContent0</code>). Derek also adds additional metadata of the post, like the title.
		   </p>
		   <p>
		   However, inmediately after having published the post, Derek detects a typo. He doesnt' want to record the activity that led to the new version, so he just creates a new version and 
		   summarizes the changes in a revision of the original post(<code>ex:post9821v1</code>). This revision is also a specialization of the original post, since it is a refined version. 
		   Thus, the location of the new revision has the same permalink, but a different url for its snapshot (<code>ex:postContent1</code>).
		   </p>
		   <p>
		   Shortly after Derek's post publication, ex:monica adapts the text for a wider audience in a new version (<code>ex:post9821v2</code>). This version is an specialization of the original post,
		   and an alternate of the first version modified by Derek. Since the provenance produced by Derek and Monica is related to the same resources, the system
		   automatically groups it in the same <a href="#Account" class="qname">prov:Account</a> (<code>ex:accountPost</code>).
		   </p>
		   <p>
		   Some time passes by, and John writes his own conclusions quoting the previous two posts:
		   </p> 
		   
		   <pre class="example">
		   {% escape %}{% include "includes/prov/examples/eg-25-extended-crime-file-example/rdf/extended-crime-file-pt2.ttl" %}{% endescape %}
		   </pre> 
		   
		   <p>
		   Agent <code>ex:John</code> also names the URI of the original source (<code>ex:aggregatedByRegions</code>). All the provenance statements related to his post
		   are grouped in a new <span class="repeated">prov:Account</span> (<code>ex:accountPost2</code>).
		   
		   Finally, a web crawler (<code>ex:boogleParser</code>) parses the second post. The crawler acts in behalf of Boogle, an organization that want to index the posts. It also adds an 
		   annotation on the second account (<code>ex:accountPost2</code>), stating at which date the parsing was made.
		   </p> 		   
		   
		   <pre class="example">
		   {% escape %}{% include "includes/prov/examples/eg-25-extended-crime-file-example/rdf/extended-crime-file-pt3.ttl" %}{% endescape %}
		   </pre>
 
        </div>
	  </section>
