     <section id="description-collections"> <!-- section 3.1 -->
       <!-- This section is version controlled at http://dvcs.w3.org/hg/prov/file/tip/ontology and mirroed to
             https://github.com/timrdf/prov-lodspeakr/tree/master/components/services/prov-o -->
       <h3>Collections Terms</h3>

	<p> A <code><a class="qname"
href='#Collection'>prov:Collection</a></code> is an <code
class="repeated">prov:Entity</code> that acts as a container to some members,
which are themselves entities.
Specifically, a collection is composed of set of key-value pairs, where a
literal key is used to identify a constituent entity within the collection. 

To illustrate this, the example below describes a collection <code>:c1</code>
that has as members the two key value pairs <code>("k1", :e1)</code>
and <code>("k2", :e2)</code>.
</p>

<pre class="example">{% escape %}{% include "includes/prov/examples/eg-26-provo-collections-narrative/rdf/membership.ttl" %}{% endescape %}</pre>

<p>It is worth noting that <code>:c1</code> MAY also
have other members (i.e. <code class="repeated">prov:knownMembership</code> is
not functional).  A collection MAY be empty and thus not have any known
memberships, in which case it SHOULD be described as an instance of the
subclass <a class="qname"
href='#EmptyCollection'><code>prov:EmptyCollection</code></a>.
</p>

	<p> To describe the provenance of a collection, PROV-O provides two
kinds of involvements: <code><a class="qname"
href="qualifiedInsertion">prov:qualifiedInsertion</a></code> is used to
describe that a collection was obtained from an existing collection by
<em>inserting</em> a set of key-value pairs.  <code><a class="qname"
href="qualifiedRemoval">prov:qualifiedRemoval</a></code> is used to specify
that a given collection was obtained from an existing collection by
<em>removing</em> a set of key-value pairs.  The example below specifies that
the collection <code>:c1</code> was obtained from the empty collection
<code>:c1</code> by <em>inserting</em> the key-value pairs <code>("k1",
:e1)</code> and <code>("k2", :e2)</code>.  
</p>

<pre class="example">{% escape %}{% include "includes/prov/examples/eg-26-provo-collections-narrative/rdf/insertion.ttl" %}{% endescape %}</pre>


	<p>
	Similarly, the example below specifies that the collection
	<code>:c3</code> was obtained by <em>removing</em> the key-value pairs associated with
	the keys <code>"k1"</code> and <code>"k2"</code> from the collection
	<code>:c2</code>. Thus, <code>:c3</code> does not contain the
	members <code>("k1", :e1)</code> and <code>("k2",
	:e2(</code> from <code>:c2</code>.

<pre class="example">{% escape %}{% include "includes/prov/examples/eg-26-provo-collections-narrative/rdf/removal.ttl" %}{% endescape %}</pre>
	</p>

     </section>
