<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
    "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head xmlns:prov="http://www.w3.org/ns/prov#">
    <title>PROV-O: The PROV Ontology</title>
    <meta http-equiv='Content-Type' content='text/html;charset=utf-8'/>

    <style type="text/css">
      /* prov:wasQuotedFrom http://speronitomcat.web.cs.unibo.it:8080/LODE/owl.css */
      .RFC2119 {
        text-transform: lowercase;
        font-style: italic;
      }
      .nonterminal {
          font-weight: bold;
          font-family: sans-serif;
          font-size: 95%;
      }
      #abstract br {
         /* doesn't work right SOMETIMES 
         margin-bottom: 1em;   */
      }
      .name {
          font-family: monospace;
      }
      .buttonpanel {
          margin-top: 1ex;
          margin-bottom: 1ex;
          padding-left: 1ex;
          padding-right: 1ex;
          padding-top: 1ex;
          padding-bottom: 0.6ex;
          border: 1px dotted black; 
      }
      .grammar {
          margin-top: 1ex;
          margin-bottom: 1ex;
          padding-left: 1ex;
          padding-right: 1ex;
          padding-top: 1ex;
          padding-bottom: 0.6ex;
          border: 1px dashed #2f6fab;
          font-family: monospace;
      }
      .image {
          text-align: center;
      }
      .centered {
          text-align: center;
          padding-top: 4ex;
          padding-bottom: 4ex;
      }
      .centered table {
          margin: 0 auto;
          text-align: left;
      }
      .caption {
          font-weight: bold;
      }
      .indent {
          margin-left: 20px;
      }
      .atrisknote {
          padding: 5px;
          margin-top: 10px;
          margin-bottom: 10px;
          border: solid 2px blue;
          background-color: #FFA;
      }
      .atrisknotehead {
          font-style: italic; 
      }

      /* Stying the examples. */

      .anexample:before {
          content: "Example:";
          font-family: sans-serif;
          font-size: 1.6ex;
          font-weight: bold;
      }
      .anexample {
          margin-top: 1ex;
          margin-bottom: 1ex;
          padding-left: 1ex;
          padding-right: 1ex;
          padding-top: 1ex;
          padding-bottom: 0.6ex;
          border: 1px dashed #2f6fab;
          background-color: #f9f9f9;
      }
      .anexample table {
          background-color: #f9f9f9;
      }

      /* Styling the parts in the functional-style syntax. */

      div.fss {
          margin-top: 10px; 
          margin-bottom: 10px; 
          margin-left: 20px; 
          margin-right: 20px; 
          font-family: monospace;
      }
      table.fss {
          margin: 0px 0px 0px 0px; 
          padding: 0px 0px 0px 0px; 
          width: 100%;
      }
      table.fss caption.fss {
          font-size: 1.5ex;
          font-weight: bold;
          text-align: left;
          padding-left: 10px;
      }
      table.fss td:first-child {
          font-family: monospace;
          padding-left: 20px;
          padding-right: 20px;
          width: 60%;
      }

      /* Styling the parts in the RDF syntax. */

      div.rdf{
          margin-top: 10px; 
          margin-bottom: 10px; 
          margin-left: 20px; 
          margin-right: 20px; 
          font-family: monospace;
      }
      table.rdf {
          margin: 0px 0px 0px 0px; 
          padding: 0px 0px 0px 0px; 
          width: 100%;
      }
      table.rdf caption.rdf {
          font-size: 1.5ex;
          font-weight: bold;
          text-align: left;
          padding-left: 10px;
      }
      table.rdf td:first-child {
          font-family: monospace;
          padding-left: 20px;
          padding-right: 20px;
          width: 60%;
      }

      /* Styling the XML syntax. */

      div.xmlsyn {
          margin-top: 10px; 
          margin-bottom: 10px; 
          margin-left: 20px; 
          margin-right: 20px; 
          font-family: monospace;
      }
      div.axioms {
          margin-top: 10px; 
          margin-bottom: 10px; 
          margin-left: 20px; 
          margin-right: 20px; 
      }

      /* Other styles. */

      table.complexity td {
          text-align: center;
      }
      table.allname td {
         font-family: monospace;
      }
      table.canonicalparsing {
          margin-left: 20px;
          border-style: none;
      }
      table.canonicalparsing td {
          vertical-align: top;
          padding: 2px 2px 2px 2px;
      }
      table.canonicalparsing td.two {
          padding-left: 30px;
      }

      /* The following are classes for templates used in the editing process. */

      .review {
          padding: 5px;
          border: solid 1px black;
          margin-left: 10%;
          margin-top: 10px;
          margin-bottom: 10px;
          background-color: #FFA;
          font-size: smaller;
      }
      .reviewauthor {
          font-size: smaller;
          font-style: italic;
      }
      .ednote {
          padding: 5px;
          border: solid 1px black;
          margin-top: 10px;
          margin-bottom: 10px;
      }
      .ednotehead {
         font-weight: bold;
      }

      /* override mediawiki's beautiful DL styling... */
      dl {
          background: white;
          width: 100%;
          border: none;
          margin-top: 0;
          margin-bottom: 0;
          padding-top: 0;
          padding-bottom: 0;
      }

      div {
          margin-top: 0;
          margin-bottom: 0;
      }
      #fulltitle {
        font-size: 140%; 
        font-weight: bold;
      }

      .xml {
       color: red
      }

      .rdbms{
      color: red
      }

      /* just copying from wiki, so it stays through TR. Currently
        affects Primer, at least */
      pre {
        background-color:#F9F9F9;
        border:1px dashed #2F6FAB;
        color:black;
        line-height:1.1em;
        padding:1em;
      }
    </style>

    <style type="text/css">
      /* prov:wasQuotedFrom http://speronitomcat.web.cs.unibo.it:8080/LODE/Primer.css . */

      /* define a class "noprint" for sections which don't get printed */  
      .noprint { display: none; }

      /* our syntax menu for switching */
      div.syntaxmenu {
        border: 1px dotted black;
        padding:0.5em;
        margin: 1em; 
      }

      @media print {
         div.syntaxmenu { display:none; }
      }

      /* use tab-like headers for syntax examples */
      div.exampleheader {
        font-size: 90%;
        float: left;
        background: #F9F9F9;
        color: #2F6FAB;
        border: 1px dashed #2F6FAB;
        border-bottom: 0px;
        padding-top: 2px;
      }

      div.exampleheader span.exampleheader {
        background: #F9F9F9;
        padding-top: 0px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 3px;
        padding-top: 0px;
      }

      /* Also copy MediaWiki style here, so it will not look different when exported */
      div.fssyntax pre, div.rdfxml pre, div.owlxml pre, div.turtle pre, div.manchester pre  {
        background-color: #F9F9F9;
        border: 1px dashed #2F6FAB;
        color: black;
        line-height: 1.1em;
        padding: 1em;
        clear: both;
        margin-left: 0em;
      }
      /* (further styles directly embedded in header template) */
    </style>

    <style type="text/css">
      /* prov:wasDerivedFrom http://speronitomcat.web.cs.unibo.it:8080/LODE/rec.css . */

      /* Style for a "Recommendation" */

      /*
         Copyright 1997-2003 W3C (MIT, ERCIM, Keio). All Rights Reserved.
         The following software licensing rules apply:
         http://www.w3.org/Consortium/Legal/copyright-software */

      /* $Id: base.css,v 1.25 2006/04/18 08:42:53 bbos Exp $ */

      body {
        padding: 2em 1em 2em 70px;
        margin: 0;
        font-family: sans-serif;
        color: black;
        background: white;
        background-position: top left;
        background-attachment: fixed;
        background-repeat: no-repeat;
      }
      :link { color: #00C; background: transparent }
      :visited { color: #609; background: transparent }
      a:active { color: #C00; background: transparent }

      a:link img, a:visited img { border-style: none } /* no border on img links */

      a img { color: white; }        /* trick to hide the border in Netscape 4 */
      @media all {                   /* hide the next rule from Netscape 4 */
        a img { color: inherit; }    /* undo the color change above */
      }

      th, td { /* ns 4 */
        font-family: sans-serif;
      }

      h1, h2, h3, h4, h5, h6 { text-align: left }
      /* background should be transparent, but WebTV has a bug */
      h1, h2, h3 { color: #005A9C; background: white }
      h1 { font: 170% sans-serif }
      h2 { font: 140% sans-serif }
      h3 { font: 120% sans-serif }
      h4 { font: bold 100% sans-serif }
      h5 { font: italic 100% sans-serif }
      h6 { font: small-caps 100% sans-serif }

      .hide { display: none }

      div.head { margin-bottom: 1em }
      div.head h1 { margin-top: 2em; clear: both }
      div.head table { margin-left: 2em; margin-top: 2em }

      p.copyright { font-size: small }
      p.copyright small { font-size: small }

      @media screen {  /* hide from IE3 */
      a[href]:hover { background: #ffa }
      }

      pre { margin-left: 2em }
      /*
      p {
        margin-top: 0.6em;
        margin-bottom: 0.6em;
      }
      */
      dt, dd { margin-top: 0; margin-bottom: 0 } /* opera 3.50 */
      dt { font-weight: bold }

      pre, code { font-family: monospace } /* navigator 4 requires this */

      ul.toc, ol.toc {
        list-style: disc;     /* Mac NS has problem with 'none' */
        list-style: none;
      }

      @media aural {  
        h1, h2, h3 { stress: 20; richness: 90 }
        .hide { speak: none }
        p.copyright { volume: x-soft; speech-rate: x-fast }
        dt { pause-before: 20% }
        pre { speak-punctuation: code } 
      }

      /*body {
        background-image: url(http://lode.sourceforge.net/img/LODELogo.png);
      }*/
    </style>

    <style type="text/css">
      /* prov:wasQuotedFrom http://speronitomcat.web.cs.unibo.it:8080/LODE/extra.css . */

      body {
          text-align: justify;    
      }

      h1 {
          line-height: 110%;    
      }

      .hlist {
          border: 1px solid navy;
          padding:5px;
          background-color: #F4FFFF; 
      }

      .hlist li {
          display: inline;
          display: inline-table;
          list-style-type: none;
          padding-right: 20px;
          
      }

      .entity {
          border: 1px solid navy;
          margin:5px 0px 5px 0px;
          padding: 5px;    
      }

      .type-c {
          cursor:help;
          color:orange;
      }

      .type-op {
          cursor:help;
          color:navy;    
      }

      .type-dp {
          cursor:help;
          color:green;    
      }

      .type-ap {
          cursor:help;
          color:maroon;    
      }

      .type-ni {
          cursor:help;
          color:brown;    
      }

      .logic {
          color:purple;
          font-weight:bold;    
      }

      h3 {
          margin-top: 3px;
          padding-bottom: 5px;
          border-bottom: 1px solid navy;
      }

      h2 {
          margin-top:40px;    
      }

      .dotted {
          border-bottom: 1px dotted gray;
      }

      dt {
          margin-top:5px;
      }

      .description {
          border-top: 1px dashed gray;
          border-bottom: 1px dashed gray;
          background-color: rgb(242, 243, 244);
          margin-top:5px;
          padding-bottom:5px;
      }

      .description dl {
          background-color: rgb(242, 243, 244);
      }

      .description ul {
          padding-left: 12px;
          margin-top: 0px;
      }

      .backlink {
          font-size:10pt;
          text-align:right;
          float:right;
          color:black;
          padding: 2px;
          border: 1px dotted navy;
          background-color: #F4FFFF;
      }

      .imageblock {
         text-align: center;
      }

      .imageblock img {
         border:1px solid gray;
      }

      .endnote {
         margin-top: 40px;
         border-top: 1px solid gray;
         padding-top: 10px;
         text-align: center;
         color:gray;
         font-size:50%;
      }
    </style>
    <!-- link rel="provenance" href="http://www.w3.org/2007/08/pyRdfa/extract?format=turtle&uri=http://aquarius.tw.rpi.edu/prov-wg/prov-o"/ -->

    <!-- 
      === NOTA BENE ===
      For the three scripts below, if your spec resides on dev.w3 you can check them
      out in the same tree and use relative links so that they'll work offline,
     -->

   <!-- From DM -->
   <script src="http://dvcs.w3.org/hg/prov/raw-file/default/model/provbib.js" class="remove"></script>
   <!-- From DM -->
   <style type="text/css">
      .note { font-size:small; margin-left:50px }
       table { text-align: center; vertical-align: middle }

      table.thinborder {
         border-width: 1px;
         border-spacing: 0px;
         border-style: none;
         border-color: gray;
         border-collapse: collapse;
      }
      table.thinborder th {
         border-width: 1px;
         padding: 0px;
         border-style: solid;
         border-color: gray;
      }
      table.thinborder td {
         border-width: 1px;
         padding: 2px;
         border-style: solid;
         border-color: gray;
         background-color: rgb(246,246,246);
      }
   </style>

   <style type="text/css">
      /* This CSS written by Tim Lebo for PROV-O HTML (all other CSS was taken from elsewhere) */
      table.qualified-forms {
         width: 75%;
      }
      ul.hlist {
         margin: 20px;
      }
      table {
         margin: 20px; 
         border:1px solid navy;
         background-color: #F4FFFF;
      }
      table th {
         background-color: LightGoldenRodYellow;
      }
      table tr {
         padding: 2px;
         border: 1px solid navy;
      }
      table td {
         text-align: left;
         padding-top: 5px;
         padding-bottom: 5px;
         padding-left: 15px;
         padding-right: 15px;
      }
      table td.prov-attribute {
         width: 20%
      }
      table.prov-detail a:visited {
          color:black; text-decoration:none; 
      }
      table.prov-detail a:link {
          color:black; text-decoration:none; 
      }
      .component-entities-activities {
         border:1px solid gray;
         background-color: #FFD4D4
      }
      .component-agents-responsibility {
         border:1px solid gray;
         background-color: #CCD9EE;
      }
      .component-derivations {
         border:1px solid gray;
         background-color: #CCEED9;
      }
      .component-collections {
         border:1px solid gray;
         background-color: #CED4D4;
      }
      .component-alternate {
         border:1px solid gray;
         background-color: #F4FFD9;
      }
      .component-annotations {
         border:1px solid gray;
         background-color: #FCE1CE;
      }
      span.repeated {
         font-family: monospace;
      }
      a.qname {
         font-family: monospace;
      }
      strong.crossreference {
         padding-right: 15px;
      }
      div.feature-at-risk {
         color: red;
      }
     </style>

     <script src='https://www.w3.org/Tools/respec/respec-w3c-common' class='remove' type="text/javascript"></script>
     <script src="https://www.w3.org/2007/OWL/toggles.js" class="remove" type="text/javascript"></script>
   
    <script class='remove'>
   var addExtraReferences = function() {
          for (var k in extraReferences)
              berjon.biblio[k] = extraReferences[k];
      };
      //
      // http://dev.w3.org/2009/dap/ReSpec.js/biblio.html lists the references that respec adds automatically.
      //
      var extraReferences = {
         "LD-Patterns-QR":
          "Leigh Dodds; Ian Davis. "+
          "<a href=\"http://patterns.dataincubator.org/book/qualified-relation.html\"><cite>Qualified Relation</cite></a>. "+
          "modified 31 May 2012, accessed 01 June 2012 "+
          "URL: <a href=\"http://patterns.dataincubator.org/book/qualified-relation.html\">http://patterns.dataincubator.org/book/qualified-relation.html</a>",

         "TRIG":
          "Chris Bizer; Richard Cyganiak. "+
          "<a href=\"http://wifo5-03.informatik.uni-mannheim.de/bizer/trig/\"><cite>The TriG Syntax</cite></a>. "+
          "modified 30 July 2007, accessed 05 November 2012 "+
          "URL: <a href=\"http://wifo5-03.informatik.uni-mannheim.de/bizer/trig/\">http://wifo5-03.informatik.uni-mannheim.de/bizer/trig/</a>",
      };

      var respecConfig = {
          // specification status (e.g. WD, LCWD, NOTE, etc.). If in doubt use ED.
          specStatus:           "PR",
          
          // the specification's short name, as in http://www.w3.org/TR/short-name/
          shortName:            "prov-o",

          // if your specification has a subtitle that goes below the main
          // formal title, define it here
          //subtitle   :  "",

          // if you wish the publication date to be other than today, set this
          publishDate:  "2013-01-19",

          // if the specification's copyright date is a range of years, specify
          // the start date here:
          copyrightStart: "2011",

          // if there is a previously published draft, uncomment this and set its YYYY-MM-DD date
          // and its maturity status
          previousPublishDate:  "2012-12-11",
          previousMaturity:  "CR",

          // if there a publicly available Editor's Draft, this is the link
          //edDraftURI:           "https://dvcs.w3.org/hg/prov/raw-file/default/ontology/Overview.html",

          // if this is a LCWD, uncomment and set the end of its review period
          // lcEnd: "2012-09-18",
          crEnd: "2013-04-09",

          // if you want to have extra CSS, append them to this list
          // it is recommended that the respec.css stylesheet be kept
          extraCSS:         [ //"http://dev.w3.org/2009/dap/ReSpec.js/css/respec.css", 
                              "./extra.css"],

          // editors, add as many as you like
          // only "name" is required
          editors:  [
             { name: "Timothy Lebo",
                 url:"http://tw.rpi.edu/instances/TimLebo",
                company: "Rensselaer Polytechnic Institute, USA" },
              { name: "Satya Sahoo", url: "http://cci.case.edu/cci/index.php/Satya_Sahoo",
                company: "Case Western Reserve University, USA" },
           { name: "Deborah McGuinness", url: "http://tw.rpi.edu/instances/Deborah_L_McGuinness",
                   company: "Rensselaer Polytechnic Institute, USA" },
          ],

          // authors, add as many as you like. 
          // This is optional, uncomment if you have authors as well as editors.
          // only "name" is required. Same format as editors.

          authors:  [
           { name: "(In alphabetical order)",                
                   },
              { name: "Khalid Belhajjame",                
                    url:"http://semanticweb.org/wiki/Khalid_Belhajjame",
            company: "University of Manchester, UK" },
           { name: "James Cheney",                
                  url:"http://homepages.inf.ed.ac.uk/jcheney/",    
               company: "University of Edinburgh, UK" },
           { name: "David Corsar",                
                  url:"http://homepages.abdn.ac.uk/dcorsar/pages/",    
               company: "University of Aberdeen, UK" },
           { name: "Daniel Garijo",
                 url:"http://www.oeg-upm.net/index.php/en/phdstudents/28-dgarijo",
                   company: "Universidad Politécnica de Madrid, Spain" },
           { name: "Stian Soiland-Reyes",
                   url:"http://soiland-reyes.com/stian/",
                  company: "University of Manchester, UK" },
           { name: "Stephan Zednik",
                      url:"http://tw.rpi.edu/web/person/StephanZednik",
                     company: "Rensselaer Polytechnic Institute, USA" },
           { name: "Jun Zhao",
                      url:"http://users.ox.ac.uk/~zool0770/",
                     company: "University of Oxford, UK" },
          ],
          
          // name of the WG
          wg:           "Provenance Working Group",
          
          // URI of the public WG page
          wgURI:        "http://www.w3.org/2011/prov/",
          
          // name (with the @w3c.org) of the public mailing to which comments are due
          wgPublicList: "public-prov-comments",
          
          // URI of the patent status for this WG, for Rec-track documents
          // !!!! IMPORTANT !!!!
          // This is important for Rec-track documents, do not copy a patent URI from a random
          // document unless you know what you're doing. If in doubt ask your friendly neighbourhood
          // Team Contact.
          wgPatentURI:  "http://www.w3.org/2004/01/pp-impl/46974/status",

      // Add extraReferences to bibliography database
          preProcess: [addExtraReferences, addProvReferences], 
      };
    </script>
  </head>
  <body>

    <section id="abstract">
         <p>The PROV Ontology (PROV-O) expresses the PROV Data Model [[!PROV-DM]] using the OWL2 Web Ontology Language (OWL2) [[!OWL2-OVERVIEW]]. It provides a set of classes, properties, and restrictions that can be used to represent and interchange provenance information generated in different systems and under different contexts. 
It can also be specialized to create new classes and properties to model provenance information for different applications and domains.
        The <a href="http://www.w3.org/TR/2012/WD-prov-overview-20121211/">PROV Document Overview</a> describes the overall state of PROV, and should be read before other PROV documents.
        </p>


        <p style="text-align: center;">The namespace for all PROV-O terms is <span class="repeated">http://www.w3.org/ns/prov#</span>.
        </p>

        <p style="text-align: center;">The OWL encoding of the PROV Ontology is available <a href="http://www.w3.org/ns/prov-o">here</a>.
        </p>
    </section>
  
 
    <section id="sotd">
      <h4>PROV Family of Documents</h4>
      This document is part of the PROV family of documents, a set of documents defining various aspects that are necessary to achieve the vision of inter-operable
      interchange of provenance information in heterogeneous environments such as the Web.  These documents are:
      <ul>
      <li> <a href="http://www.w3.org/TR/2012/WD-prov-overview-20121211/">PROV-OVERVIEW</a> (To be published as Note), an overview of the PROV family of documents [[PROV-OVERVIEW]];</li>
      <li> <a href="http://www.w3.org/TR/2012/WD-prov-primer-20121211/">PROV-PRIMER</a> (To be published as Note), a primer for the PROV data model [[PROV-PRIMER]];</li>
      <li> <a href="http://www.w3.org/TR/2012/CR-prov-o-20121211/">PROV-O</a> (Candidate Recommendation), the PROV ontology, an OWL2 ontology allowing the mapping of PROV to RDF (this document);</li>
      <li> <a href="http://www.w3.org/TR/2012/CR-prov-dm-20121211/">PROV-DM</a> (Candidate Recommendation), the PROV data model for provenance [[!PROV-DM]];</li>
      <li> <a href="http://www.w3.org/TR/2012/CR-prov-n-20121211/">PROV-N</a> (Candidate Recommendation), a notation for provenance aimed at human consumption [[!PROV-N]];</li>
      <li> <a href="http://www.w3.org/TR/2012/CR-prov-constraints-20121211/">PROV-CONSTRAINTS</a> (Candidate Recommendation), a set of constraints applying to the PROV data model [[!PROV-CONSTRAINTS]];</li>
      <li> <a href="http://www.w3.org/TR/2012/WD-prov-aq-20120619/">PROV-AQ</a> (To be published as Note), the mechanisms for accessing and querying provenance [[PROV-AQ]]; </li>
      <li> <a href="http://www.w3.org/TR/2012/WD-prov-xml-20121211/">PROV-XML</a> (To be published as Note),  an XML schema for the PROV data model [[PROV-XML]].</li>

      </ul>
      <h4>How to read the PROV Family of Documents</h4>
      <ul>
      <li>[[PROV-OVERVIEW]] overviews the PROV family of documents. </li>
      <li>The primer [[PROV-PRIMER]] is the entry point to PROV offering an introduction to the provenance model.</li>
      <li>The Linked Data and Semantic Web community should focus on PROV-O defining PROV classes and properties specified in an OWL2 ontology. For further details, [[!PROV-DM]] and [[!PROV-CONSTRAINTS]] specify the constraints applicable to the data model, and its interpretation. </li>
      <li>The XML community should focus on [[PROV-XML]] defining an XML schema for PROV. Further details can also be found in [[!PROV-DM]] and [[!PROV-CONSTRAINTS]].</li>
      <li>Developers seeking to retrieve or publish provenance should focus on [[PROV-AQ]].</li>
      <li>Readers seeking to implement other PROV serializations
      should focus on [[!PROV-DM]] and [[!PROV-CONSTRAINTS]].  PROV-O, [[!PROV-N]], and [[PROV-XML]] offer examples of mapping to RDF, text, and XML, respectively.</li>
      </ul>

      <h4>Please Comment By January 31, 2013</h4>

      The Provenance Working Group seeks to gather experience from <a href="http://www.w3.org/2011/prov/wiki/ProvImplementations">implementations</a> in order to increase confidence in the specifications and meet specific <a href="http://www.w3.org/2011/prov/wiki/ProvCRExitCriteria">exit criteria</a>. This document will remain a Candidate Recommendation until at least 31 January 31, 2013. After that date, when and if the exit criteria are met, the group intends to request <a href="http://www.w3.org/2005/10/Process-20051014/tr.html#RecsPR">Proposed Recommendation</a> status.


    </section>




     <section id="introduction">    
         <h2>Introduction</h2>  
         <p>The PROV Ontology (PROV-O) defines the OWL2 Web Ontology Language encoding of the PROV Data Model [[PROV-DM]]. This document describes the set of classes, properties, and restrictions that constitute the PROV Ontology. This ontology specification provides the foundation to implement provenance applications in different domains that can represent, exchange, and integrate provenance information generated in different systems and under different contexts. Together with the PROV Access and Query [[PROV-AQ]] and PROV Data Model [[PROV-DM]], this document forms a framework for provenance information interchange in domain-specific Web-based applications.
         </p>
        <p>
         PROV-O is a lightweight ontology that can be adopted in a wide range of applications. 
         With the exception of <a href="#prov-o-owl-profile">five axioms</a>, PROV-O conforms to the OWL-RL profile [[OWL2-PRIMER]]. 
         The PROV Ontology classes and properties are defined such that they can not only be used directly to represent provenance information, 
         but also can be specialized for modeling application-specific provenance details in a variety of domains. 
         Thus, the PROV Ontology is expected to be both directly usable in applications as well as serve as a <i>reference model</i> 
         for creating domain-specific provenance ontologies and thereby facilitates interoperable provenance modeling. 
         To demonstrate the use of PROV-O classes and properties, this document uses an example provenance scenario similar to the one introduced in the PROV-Primer [[PROV-PRIMER]].
        </p>
         <p> The PROV Data Model [[PROV-DM]] introduces a set of concepts to represent provenance information in a variety of application domains. This document maps the PROV Data Model to PROV Ontology using the OWL2 ontology language [[!OWL2-OVERVIEW]]. 
        </p>

        <p> We briefly introduce some of the OWL2 modeling terms that will be used to describe the PROV Ontology. 
         An OWL2 <i>instance</i> is an individual object in a domain of discourse, for example a person named Alice or a car named KITT. 
         A set of individuals sharing common characteristics constitutes a <i>class</i>.

         Person and Car are examples of classes representing the set of individual persons and cars respectively. 
         The OWL2 object properties are used to link individuals, classes, or create a property hierarchy. 
         For example, the object property "hasOwner" can be used to link car with person. 
         The OWL2 datatype properties are used to link individuals or classes to data values, including XML Schema datatypes [[!XMLSCHEMA11-2]].   
        </p>

    <section id="compliance">    
       <h2>Compliance with this Document</h2>  
      <p>For the purpose of compliance, the normative sections of this document are 
         <a href="#compliance">Section 1.1</a>, 
         <a href="#notations">Section 1.2</a>,
         <a href="#description">Section 3</a>,
         <a href="#cross-reference">Section 4</a>, and
         <a href="#inverse-names">Appendix B</a>
      </p>
      <ul>
         <li>Information in tables is normative if it appears in a normative section.</li>
         <li>All figures and diagrams are informative.</li>
         <li>All examples are informative.</li>
      </ul>
    </section>

    <section id="notations">    
       <h2>Notational Conventions</h2>  

        <p>The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT", "SHOULD", "SHOULD NOT", "RECOMMENDED",  "MAY", and       "OPTIONAL" in this document are to be interpreted as described in [[!RFC2119]].</p>
    </section>

      <section class="informative" id="namespaces">
         <h3>Namespaces</h3>
         <p>The following namespace prefixes are used throughout this document.

         <div style="text-align: left;">
            <table  class="thinborder" style="margin-left: auto; margin-right: auto;">
            <caption id="namespace-table"><a href="#namespace-table">Table 1</a>: Prefix and Namespaces used in this specification</caption> <!-- Table 1-->
            <tr><td><a><b>prefix</b></a></td><td><b>namespace IRI</b></td> <td><b>definition</b></td></tr>

            <tr><td><a>rdf</a></td><td>http://www.w3.org/1999/02/22-rdf-syntax-ns#</td><td>The RDF namespace [[!RDF-CONCEPTS]]</td></tr>

            <tr><td><a>xsd</a></td><td>http://www.w3.org/2000/10/XMLSchema#</td><td>XML Schema Namespace [[!XMLSCHEMA11-2]]</td></tr>

            <tr><td><a>owl</a></td><td>http://www.w3.org/2002/07/owl#</td><td>The OWL namespace [[!OWL2-OVERVIEW]]</td></tr>

            <tr><td><a>prov</a></td><td>http://www.w3.org/ns/prov#</td>
                <td>The PROV namespace [[!PROV-DM]]</td></tr>

            <tr><td><a>(others)</a></td><td>(various)</td><td>All other namespace prefixes are used in examples only. <br/> 
                  In particular, IRIs starting with "http://example.com" represent<br/> some application-dependent IRI [[!IRI]]</td></tr>
            </table>
         </div>
      </section>
   </section>

   <section id="prov-o-at-a-glance" class="informative">
      <h2>PROV-O at a glance</h2>

      <p>PROV-O users may only need to use parts of the entire ontology, depending on their needs and according to how much detail they want to include in their provenance information. For this, the PROV-O terms (classes and properties) are grouped into three categories to provide an incremental introduction to the ontology: Starting Point terms, Expanded terms, and terms for Qualifying relationships.
      </p>

      <div id="prov-starting-point-owl-terms-at-a-glance">
         <p><strong>Starting Point classes and properties</strong> provide the basis for the rest of the PROV Ontology and thus it is recommended that readers become comfortable with how to apply these terms before continuing to the remaining categories. These terms are used to create simple provenance descriptions that can be elaborated using terms from other categories. The classes and properties in this category are listed below and are discussed in <a href="#description-starting-point-terms">Section 3.1</a>.</p>
         {% include "includes/at-a-glance-starting-point.html" %}
      </div>

      <div    id="prov-expanded-owl-terms-at-a-glance">
         <p><strong>Expanded classes and properties</strong> provide additional terms that can be used to relate classes in the Starting Point category. The terms in this category are applied in the same way as the terms in the Starting Point category. Many of the terms in this category are subclasses or subproperties of those in the Starting Point category. The classes and properties in this category are listed below and are discussed in <a href="#description-expanded-terms">Section 3.2</a>.</p>
         {% include "includes/at-a-glance-expanded.html" %}
      </div>

      <div    id="prov-qualified-owl-terms-at-a-glance">
         <p><strong>Qualified classes and properties</strong> provide elaborated information about binary relations asserted using Starting Point and Expanded properties. The terms in this category are applied using a pattern that differs from those in the Starting Point and Expanded categories. While the relations from the previous two categories are applied as direct, binary assertions, the terms in this category are used to provide additional attributes of the binary relations. The pattern used in this category allows users to provide elaborate details that are not available using only Starting Point and Expanded terms. The classes and properties in this category are listed below and are discussed in <a href="#description-qualified-terms">Section 3.3</a>.</p>
         {% include "includes/at-a-glance-qualified.html" %}
      </div>

      <div>
      {% for row in models.uncategorized %}
         <p>TODO: categorize as "starting-point", "qualified", or "additional" in <a href="http://dvcs.w3.org/hg/prov/raw-file/default/ontology/ProvenanceOntology.owl">ProvenanceOntology.owl</a></p>
         <a href="{{row.prov.curie}}">{{row.prov.curie}}</a>{%if !forloop.last%} | {%endif%}
      {% endfor %} 
      </div>

   </section> <!-- PROV-O at a glance -->



    <section id="description">
      <h2>The PROV-O Ontology Description</h2>       
      <p>This section introduces the terms in each of the following categories:
      </p>     
      <ul>
         <li><a href="#description-starting-point-terms">Starting Point Terms</a></li>
         <li><a href="#description-expanded-terms">Expanded Terms</a></li>
         <li><a href="#description-qualified-terms">Qualified Terms</a></li>
      </ul>

{% include "prov-o-html-sections/description-starting-points.inc.html" %}
{% include "prov-o-html-sections/description-expanded-terms.inc.html" %}
{% include "prov-o-html-sections/description-qualified-terms.inc.html" %}

    </section>

 

   <section id="cross-reference" class='normative'>
      <!-- prov:tracedTo [ prov:wasGeneratedBy [ a prov:Activity; 
           dcterms:description "python eg-24-prov-o-html-examples.py http://dvcs.w3.org/hg/prov/raw-file/default/ontology/ProvenanceOntology.owl" ] ] ] -->
      <h2>Cross reference for PROV-O classes and properties</h2>
      <p>This section provides details for each class and property defined by the PROV Ontology, grouped by the categories described above:
      </p>     
      <ul>
         <li><a href="#cross-reference-starting-point-terms">Starting Point Terms</a></li>
         <li><a href="#cross-reference-expanded-terms">Expanded Terms</a></li>
         <li><a href="#cross-reference-qualified-terms">Qualified Terms</a></li>
      </ul>

      <p>
      The superscripts <sup class="type-op" title="object property">op</sup> and <sup class="type-dp" title="data property">dp</sup> denote that a property is an OWL <a href="http://www.w3.org/TR/owl2-syntax/#Object_Properties">object property</a> or <a href="http://www.w3.org/TR/owl2-syntax/#Data_Properties">data property</a>, respectively.
      </p>

      <p>Each PROV-O term in this cross reference links to the corresponding PROV-DM concept. The PROV-DM's table 
         <a href="http://dvcs.w3.org/hg/prov/raw-file/default/model/prov-dm.html#prov-dm-to-prov-o-and-prov-n">Cross-References to PROV-O and PROV-N</a> 
         provides an overview of the correspondences between PROV-O and PROV-DM.

      </p>

      <p>
         The qualification classes and properties shown in <a href="#qualified-forms-starting-point">Table 2</a> and 
         <a href="#qualified-forms-expanded">Table 3</a> of the previous section can also be found in each entry of this cross reference.
         If the property can be qualified, the <strong>can be qualified with</strong>
         header indicates the qualifying property and influence class that should be used.
         Conversely, the <strong>qualifies</strong> headers in the listings for qualification terms indicate the unqualified property that they qualify.
         In the OWL file itself, the annotation properties <span class="qname repeated">prov:qualifiedForm</span> and <span class="qname repeated">prov:unqualifiedForm</span>
         provide the same linkages between the unqualified properties and their qualifiying terms.
      </p>

      <p>Most examples shown in this cross reference are encoded using the Turtle RDF serialization. 
         When it is convenient to do so (e.g., when an example describes a <span class="qname repeated">prov:Bundle</span>), it may use the [[TRIG]] syntax. 
         Although this document does not specify how to encode Bundles in RDF, TriG's named graph construct is used only to illustrate the concept of 
         creating a named set of PROV assertions. Note that <a href="#compliance">all examples are non-normative</a>.
      </p>

      <section id="cross-reference-starting-point-terms">
         <h3>Starting Point Terms</h3>
         <p>The classes and properties that provide a basis for all other PROV-O terms are discussed in <a href="#description-starting-point-terms">Section 3.1</a>.</p>
         {% include "includes/at-a-glance-starting-point.html" %}
         {% include "includes/cross-reference-starting-point.html" %}
      </section>

      <section id="cross-reference-expanded-terms">
         <h3>Expanded Terms</h3>
         <p>The additional terms used to describe relations among Starting Point classes are discussed in <a href="#description-expanded-terms">Section 3.2</a>.</p>
         {% include "includes/at-a-glance-expanded.html" %}
         {% include "includes/cross-reference-expanded.html" %}
      </section>

      <section id="cross-reference-qualified-terms">
         <h3>Qualified Terms</h3>
         <p>The terms used to qualify the Starting Point and Expanded properties are discussed in <a href="#description-qualified-terms">Section 3.3</a>.</p>
         {% include "includes/at-a-glance-qualified.html" %}
         {% include "includes/cross-reference-qualified.html" %}
      </section>

      <section id="cross-reference-index">
         <h3>Term Index</h3>
         <p>The PROV-O terms in this cross reference are shown below alphabetically, along with their entry number.</p>
         {% include "includes/xrefs.html" %}
      </section>

   </section>

    <!--section class="appendix">
          <h2>Changes Since First Public Working Draft</h2>
          <ul>
          <li>2012-01-18: hadParticipant was replaced with wasAssociatedWith. Restyled domain/range diagrams.</li>
          <li>2012-01-17: Recipe changed to Plan, linked to Association
              (formerly Control)</li>
          <li>2012-01-16: Added Agent subclasses Person, Organization
          and SoftwareAgent
          <li>2012-01-16: Added alternateOf and specializationOf
         <li>2012-01-18: Replaced wasControlledBy with wasAssociatedWith relation
        <li>2012-01-19: Added wasStartedBy and wasEndedBy relations
          </ul>  
    </section-->

    <section id="owl-profile" class='appendix informative'>
      <h2>PROV-O OWL Profile</h2>

      <p>To encourage widespread adoption, PROV-O's design is intentionally minimal and lightweight. 
      Because the OWL 2 RL profile is aimed at RDF applications that require scalable reasoning without sacrificing too much expressive power [[OWL2-PRIMER]], 
      it served as a baseline for all axioms included in PROV-O. The PROV-O axioms that do not suit the OWL 2 RL profile are listed in 
      <a href="#owl-rl-violations">Table 5</a>. 

      All five use an anonymous <em>class union</em> for the domain or range of a property, while OWL 2 RL requires the classes to be explicitly named. 
      Although introducing "placeholder" classes would have suited the
      OWL 2 RL profile, these additional "abstract" classes would have been irrelevant 
      to the modeling of provenance information, increased the size of PROV-O unnecessarily, and exposed a potential to confuse users.
      All five axioms listed in the following table <em>use a non-superclass expression in a position that requires a superclass expression</em> 
      and do not conform to the OWL 2 RL Profile.
      </p>

<!-- The following table is generated by executing the following from a checked out version of http://dvcs.w3.org/hg/prov/file/tip/ontology
        java -jar bin/profilechecker.jar ProvenanceOntology.owl OWL2RLProfile 2>&1 | python bin/rlplus-justify.py
-->
<div style="text-align: center">
  <table id="owl-rl-violations">
    <caption><a href="#owl-rl-violations">Table 5</a>: All OWL Axioms in PROV-O that do not conform to the OWL-RL profile.</caption>
    <tr>
      <th>Non OWL-RL PROV-O Axiom</td>
    </tr>
    <tr>
      <td><a href="#atLocation" class="qname">prov:atLocation</a> rdfs:domain <span class="name">[ owl:unionOf (prov:Activity prov:Agent prov:Entity prov:InstantaneousEvent) ]</span></td>
    </tr> <!-- 1 -->

    <tr>
      <td><a href="#wasInfluencedBy" class="qname">prov:wasInfluencedBy</a> rdfs:domain <span class="name">[ owl:unionOf (prov:Activity prov:Agent prov:Entity) ]</span></td>
    </tr> <!-- 5 -->

    <tr>
      <td><a href="#wasInfluencedBy" class="qname">prov:wasInfluencedBy</a> rdfs:range <span class="name">[ owl:unionOf (prov:Activity prov:Agent prov:Entity) ]</span></td>
    </tr> <!-- 2 -->

    <tr>
      <td><a href="#hadActivity" class="qname">prov:hadActivity</a> rdfs:domain <span class="name">[ owl:unionOf (prov:Delegation prov:Derivation prov:Start prov:End) ]</span></td>
    </tr> <!-- 3 -->

    <tr>
      <td><a href="#hadRole" class="qname">prov:hadRole</a> rdfs:domain <span class="name">[ owl:unionOf (prov:Association prov:InstantaneousEvent) ]</span></td>
    </tr> <!-- 4 -->

  </table>
</div>
         <p>
         To provide guidance for OWL 2 RL environments that ignore the union domain axioms, some 
         property domains or ranges have also been defined with the closest
         common superclass for the classes in the union, as shown in the following table.
         </p>

         <div style="text-align: center">
           <table id="owl-rl-extra-domains">
             <caption><a href="#owl-rl-extra-domains">Table 6</a>: Intersecting OWL2 RL compatible domains/ranges</caption>
             <tr>
               <th>Property</th> <th>Direction</th> <th>Domain/range</th>
             </tr>
             <tr>
               <td><a href="#atLocation" class="qname">prov:atLocation</a></td>
               <td>rdfs:domain</td>
               <td>(implied: <span class="name">owl:Thing</span>)</td>
             </tr>

             <tr>
               <td><a href="#wasInfluencedBy" class="qname">prov:wasInfluencedBy</a></td>
               <td>rdfs:domain / rdfs:range</td>
               <td>(implied: <span class="name">owl:Thing</span>)
             </tr> 

             <tr>
               <td><a href="#hadActivity" class="qname">prov:hadActivity</a></td>
               <td>rdfs:domain</td>
               <td><a href="#Influence" class="qname">prov:Influence</a></td>
             </tr> 

             <tr>
               <td><a href="#hadRole" class="qname">prov:hadRole</a></td>
               <td>rdfs:domain</td>
               <td><a href="#Influence" class="qname">prov:Influence</a></td>
             </tr> 
           </table>
         </div>

         <p>
         Multiple RDFS domains and ranges [[RDF-SCHEMA]] for a property are 
         <a href="http://www.w3.org/TR/2004/REC-rdf-schema-20040210/#ch_range">interpreted as an intersection</a>,
         and thus the above do not provide any additional
         information in an OWL 2 DL or OWL 2 Full profile, which also understands
         the unions. The more general domain should not be
         interpreted as saying, e.g., 
         "<span class="qname">prov:hadActivity</span> can be used with any <span class="qname">prov:Influence</span>", 
         but as 
         "Anything using <span class="qname">prov:hadActivity</span> is (at least) a prov:Influence". 
         </p>
    </section>

    <section class='appendix' id="inverse-names">
      <h2>Names of inverse properties</h2>
      <p>To maximize interoperability, PROV-O intentionally avoids defining too many properties' inverses. 
         In fact, it only defines two (<a class="qname" href="#generated">prov:generated</a> and <a class="qname" href="#invalidated">prov:invalidated</a>). 
        When all inverses are defined for all properties, modelers may choose from two logically equivalent properties when making each assertion. 
      Although the two options may be logically equivalent, developers consuming the assertions may need to exert extra effort to handle both 
      (e.g., by either adding an OWL reasoner or writing code and queries to handle both cases). 
      This extra effort can be reduced by preferring one inverse over another.
      </p>

     <div about="#inverse-names-example-1" typeof="prov:Entity" class="exampleOuter" xmlns:prov="http://www.w3.org/ns/prov#">
        <p>For example, the first PROV-O statement (below) could just as easily be asserted as the second statement. 
            But if a client queries using <a class="qname" href="#wasDerivedFrom">prov:wasDerivedFrom</a> when <span class="repeated">:hadDerivation</span> 
            was used in the assertion, no results will be returned unless OWL reasoning is applied (or the size of the query is doubled).
        </p>
        <pre class="example">
&lt;http://www.w3.org/TR/prov-o/&gt;  prov:wasDerivedFrom &lt;http://www.w3.org/TR/prov-dm/&gt; .

   # These two statements are equivalent if prov:wasDerivedFrom is an inverse of :hadDerivation.
   # But extra effort is required to handle both cases (if one is not already using OWL reasoning).
   # We cannot assume that everybody is using OWL reasoning.
   # We do not want people to write more code and query than necessary.

&lt;http://www.w3.org/TR/prov-dm/&gt;     :hadDerivation  &lt;http://www.w3.org/TR/prov-o/&gt;  .
        </pre>
     </div>

   <p>So, PROV-O avoids this situation by encouraging modelers to use one property instead of its inverse; the preferred property to use is the one defined in the PROV-O ontology. Those asserting and querying for the preferred property avoid the need for OWL reasoning, additional code, and larger queries while maintaining the same level of interoperability.
   </p>

   <p>However, the <strong>absence</strong> of defined inverses can lead to a <strong>different</strong> risk to interoperability. 
      Because modelers are free to create their own properties to suit their needs, 
      they may be motivated to assert the inverse of any PROV-O property defined herein.
   </p>

     <div about="#inverse-names-example-2" typeof="prov:Entity" class="exampleOuter" xmlns:prov="http://www.w3.org/ns/prov#">
        <p>For example, since PROV-O does not define the inverse of <a class="qname" href="#wasDerivedFrom">prov:wasDerivedFrom</a>, 
         and if three developers would rather model their assertions in the opposite direction, the following set of assertions might be found in the future web of provenance. 
         These assertions are not in an interoperable form without the use of an OWL reasoner, additional code, or larger queries.
        </p>
        <pre class="example">
   # If PROV-O's properties' inverses are not defined, modelers may be motivated to introduce their own inverse property name.
   # The following three statements are equivalent if their predicates are all inverses of prov:wasDerivedFrom.

&lt;http://www.w3.org/TR/prov-dm/&gt;    my:hadDerivation  &lt;http://www.w3.org/TR/prov-o/&gt;  .
&lt;http://www.w3.org/TR/prov-dm/&gt;  your:ledTo          &lt;http://www.w3.org/TR/prov-o/&gt;  .
&lt;http://www.w3.org/TR/prov-dm/&gt; their:derivedTo      &lt;http://www.w3.org/TR/prov-o/&gt;  .
        </pre>
     </div>

   <p>To balance these two interoperability risks, this document reserves the names of the PROV-O inverses.
      The name of a property's inverse is determined by appending the value of its <span class="repeated">http://www.w3.org/ns/prov#inverse</span> 
      annotation to the PROV namespace (<span class="repeated">http://www.w3.org/ns/prov#</span>). 
      Modelers wishing to use inverses of the properties defined by PROV-O SHOULD use those reserved by this document.
   </p>

     <div about="#inverse-names-example-3" typeof="prov:Entity" class="exampleOuter" xmlns:prov="http://www.w3.org/ns/prov#">
        <p>For example, the same three modelers above that defined <code>my:hadDerivation</code>, <code>your:ledTo</code>, and <code>their:derivedTo</code> should instead look for the <span class="repeated">http://www.w3.org/ns/prov#inverse</span> annotation on <a class="qname" href="#wasDerivedFrom">prov:wasDerivedFrom</a> to determine that they should use the property <span class="repeated">http://www.w3.org/ns/prov#hadDerivation</span>. 
        </p>
        <pre class="example">
@prefix prov: &lt;http://www.w3.org/ns/prov#&gt; .

# Each PROV-O property is annotated with the local name of its inverse.

prov:wasDerivedFrom
   a owl:ObjectProperty;
   rdfs:isDefinedBy &lt;http://www.w3.org/ns/prov#&gt;;
   prov:inverse     "hadDerivation";
   rdfs:domain  prov:Entity;
   rdfs:range   prov:Entity;
.

# Instead of defining their own, modelers should use the
# recommended inverse local name within the PROV namespace:

&lt;http://www.w3.org/TR/prov-dm/&gt; prov:hadDerivation &lt;http://www.w3.org/TR/prov-o/&gt;  .

# Following this recommendation avoids a proliferation of inverse definitions, 
# while encouraging the use of one inverse over another.
# This increases interoperability.
        </pre>
     </div>

      <p>The following table lists the recommended inverse names that should be used if a modeler does not want to use the recommended PROV-O property. 
      For convenience, <a href="http://www.w3.org/ns/prov-o-inverses">this file</a> lists the resulting inverse properties.
      </p>

      <strong>TODO: include <a href="http://aquarius.tw.rpi.edu/prov-wg/inverse-names.html">table</a> here. See <a href="http://www.w3.org/2011/prov/wiki/PIL_OWL_Ontology#Steps_taken_for_LC">instructions</a> and contact lebot@rpi.edu if you see this. (inverses come from http://aquarius.tw.rpi.edu/prov-wg/inverses.ttl)</strong>




       </section>


    <section class='appendix informative'>
      <h2>Changes since WD-prov-o-20120724</h2>
      <ul>
         <li>Restated <a href="#hadRole" class="qname">prov:hadRole</a>'s domain to 'Association or InstantaneousEvent' 
             instead of the original that enumerated the subclasses of InstantaneousEvent 
             ('Association or End or Generation or Invalidation or Start or Usage').
         </li>

         <li>Renamed prov:Source to <a href="#PrimarySource" class="qname">prov:PrimarySource</a>
             and prov:qualifiedSource to <a href="#qualifiedPrimarySource" class="qname">prov:qualifiedPrimarySource</a>.
         </li>

         <li>Examples have been rewritten to avoid usage of TriG named
         graph syntax except for when showing bundles in 
         prov:asInBundle and prov:mentionOf (since removed to a separate Note). A citation to TriG was added.
         </li>

         <li>Some examples have been elaborated to use resource names
         like <code>:illustration_usage</code> rather than
         <code>:usage_1</code>.
         </li>

         <li>Fixed naming mismatch by changing prov:hadOriginalSource to <a href="#hadPrimarySource" class="qname">prov:hadPrimarySource</a>.
         
         <li>Rephrased definitions for <a href="#EntityInfluence" class="qname">prov:EntityInfluence</a>, 
            <a href="#ActivityInfluence" class="qname">prov:ActivityInfluence</a>, and <a href="#AgentInfluence" class="qname">prov:AgentInfluence</a> 
            to align with the definition of their superclass <a href="#Influence" class="qname">prov:Influence</a>.
         </li>

         <li>Updated definitions for <a href="#Start" class="qname">prov:Start</a> and 
            <a href="#End" class="qname">prov:End</a> from PROV-DM.
         </li>

         <li>The property chain for <a href="#wasInformedBy" class="qname">prov:wasInformedBy</a> was fixed from 
                "qualifiedCommunication o entity subproperty of wasInformedBy" 
             to "<a href="#qualifiedCommunication" class="qname">prov:qualifiedCommunication</a> o <a href="#activity" class="qname">prov:activity</a> subproperty of wasInformedBy"</li>

         <li>Removed prov:mentionOf and prov:asInBundle, which have been relocated to its own Note.</li>
   
         <li>Added comments encouraging the use of the more specific forms of <a href="#Influence" class="qname">prov:Influence</a>.</li>

         <li>Added uniform references to other "dated" PROV documents.</li>

         <li>Added <a href="#namespace-table">prefix namespace table</a>.</li>

         <li>Added <a href="#compliance">Compliance with this document</a> section.</li>

         <li>Corrected Turtle syntax for RL violations in <a href="#prov-o-owl-profile">PROV-O OWL Profile</a> section. They were missing owl:unionOf.</li>

         <li>Updated attributions for the tools used to produce this document in <a href="#acknowledgements">Acknowledgements</a> section.</li>

         <li>Reworked the <a href="#description-expanded-terms">Expanded Terms</a> narrative and examples to better highlight each term.</li>
      </ul>
    </section>


      <section class='appendix informative'>
            <h2>Changes since CR-prov-o-20121211</h2>
            <ul>
               <li>Updated exemplar in cross reference entry <a href="#hadGeneration" class="qname">prov:hadGeneration</a> to include <a href="#activity" class="qname">prov:activity</a> property.</li>
               <li>Reordered class and predicate terms from alphabetical to a more natural narrative-based order.</li>
               <li>Added <a href="#cross-reference-index">Term Index</a> to aid reading this document in printed form.</li>
               <li>Fixed typo 'iteself' to 'itself'.</li>
               <li>Removed inaccurate property characteristics (AsymmetricProperty, IrreflexiveProperty) 
                   in third example of <a href="#inverse-names">Appendix B</a>.</li>
               <li>Added note to <a href="#description-starting-point-terms">Starting Point Terms</a> stating that 
                   rdf:type and rdfs:label are used to express PROV-DM's prov:type and prov:label.</li>
               <li>Updated prov:value's out-of-date definition to conform to PROV-DM's (i.e., "Provides a value that is a direct representation of an entity.".</li>
               <li>Updated prov:wasDerivedFrom's out-of-date definition to conform to PROV-DM's 
                  (i.e., "A derivation is a transformation of an entity into another, an update of an entity resulting in a new one, or the construction of a new entity based on a pre-existing entity.".</li>
               <li>Added xsd:dateType datatypes to exemplar in Invalidation and invalidatedAtTime.</li>
               <li>Fixed some incorrect wasAttributedTo/wasAssociatedWith in the cross reference exemplars.</li>
            </ul>
      </section>

    <section class='appendix informative'>
      <h2>Acknowledgements</h2>

      <p>This document has been produced by the PROV Working Group, and its contents reflect extensive discussion within the Working Group as a whole. The editors extend special thanks to Sandro Hawke (W3C/MIT) and Ivan Herman (W3C/ERCIM), W3C contacts for the PROV Working Group.</p>

      <p> The editors acknowledge valuable contributions from the following:
         Tom Baker,
         David Booth,
         Robert Freimuth,
         Satrajit Ghosh,
         Ralph Hodgson,
         Renato Iannella,
         Jacek Kopecky,
         James Leigh,
         Jacco van Ossenbruggen,
         Alan Ruttenberg,
         Reza Samavi, and
         Antoine Zimmermann.
      </p>

      <p>Members of the PROV Working Group at the time of publication of this document were:

         Ilkay Altintas (Invited expert),
         Reza B'Far (Oracle Corporation),
         Khalid Belhajjame (University of Manchester),
         James Cheney (University of Edinburgh, School of Informatics),
         Sam Coppens (IBBT),
         David Corsar (University of Aberdeen, Computing Science),
         Stephen Cresswell (The National Archives),
         Tom De Nies (IBBT),
         Helena Deus (DERI Galway at the National University of Ireland, Galway, Ireland),
         Simon Dobson (Invited expert),
         Martin Doerr (Foundation for Research and Technology - Hellas(FORTH)),
         Kai Eckert (Invited expert),
         Jean-Pierre EVAIN (European Broadcasting Union, EBU-UER),
         James Frew (Invited expert),
         Irini Fundulaki (Foundation for Research and Technology - Hellas(FORTH)),
         Daniel Garijo (Universidad Politécnica de Madrid),
         Yolanda Gil (Invited expert),
         Ryan Golden (Oracle Corporation),
         Paul Groth (Vrije Universiteit),
         Olaf Hartig (Invited expert),
         David Hau (National Cancer Institute, NCI),
         Sandro Hawke (W3C/MIT),
         Jörn Hees (German Research Center for Artificial Intelligence (DFKI) Gmbh),
         Ivan Herman, (W3C/ERCIM),
         Ralph Hodgson (TopQuadrant),
         Hook Hua (Invited expert),
         Trung Dong Huynh (University of Southampton),
         Graham Klyne (University of Oxford),
         Michael Lang (Revelytix, Inc.),
         Timothy Lebo (Rensselaer Polytechnic Institute),
         James McCusker (Rensselaer Polytechnic Institute),
         Deborah McGuinness (Rensselaer Polytechnic Institute),
         Simon Miles (Invited expert),
         Paolo Missier (School of Computing Science, Newcastle university),
         Luc Moreau (University of Southampton),
         James Myers (Rensselaer Polytechnic Institute),
         Vinh Nguyen (Wright State University),
         Edoardo Pignotti (University of Aberdeen, Computing Science),
         Paulo da Silva Pinheiro (Rensselaer Polytechnic Institute),
         Carl Reed (Open Geospatial Consortium),
         Adam Retter (Invited Expert),
         Christine Runnegar (Invited expert),
         Satya Sahoo (Invited expert),
         David Schaengold (Revelytix, Inc.),
         Daniel Schutzer (FSTC, Financial Services Technology Consortium),
         Yogesh Simmhan (Invited expert),
         Stian Soiland-Reyes (University of Manchester),
         Eric Stephan (Pacific Northwest National Laboratory),
         Linda Stewart (The National Archives),
         Ed Summers (Library of Congress),
         Maria Theodoridou (Foundation for Research and Technology - Hellas(FORTH)),
         Ted Thibodeau (OpenLink Software Inc.),
         Curt Tilmes (National Aeronautics and Space Administration),
         Craig Trim (IBM Corporation),
         Stephan Zednik (Rensselaer Polytechnic Institute),
         Jun Zhao (University of Oxford),
         Yuting Zhao (University of Aberdeen, Computing Science).
      </p>

      <p>The editors also thank the developers of the tools that helped create the PROV-O ontology and portions of this document. Without these great tools, developing PROV-O would have been much less of a pleasure.</p>
      <ul>
         <li>Stanford's <a href="http://protege.stanford.edu">Protege</a> for editing the ontology.</li>
         <li>Dave Beckett's <a href="http://librdf.org/raptor/">rapper</a> for the many serialization checks of so many examples.</li>
         <li>Cosmin Basca's <a href="http://packages.python.org/SuRF/">SuRF</a> for easing the construction of this page's cross reference section.</li>
         <li>The creators, contributors, and maintainers of <a href="https://github.com/RDFLib">rdflib</a> for easing the construction of this page's cross reference section.</li>
         <li>Alvaro Graves' <a href="http://alangrafu.github.com/lodspeakr/">LODSpeaKr</a> for constructing portions of this page with SPARQL queries of PROV-O.</li>
         <li>Silvio Peroni's <a href="http://lode.sourceforge.net">LODE</a> for the CSS styling of this page's cross reference section.</li>
         <li>Robin Berjon's <a href="http://dev.w3.org/2009/dap/ReSpec.js/documentation.html">respec</a> for handling the W3C styling.</li>
      </ul>
    </section>

  </body>
</html>
